<div class="container">
	<div id="stickers">
		<div class="row">
		<% @sticker.quantity.times do  %>
			<div class="col-xs-3 ">
				<div class="sticker nobreak">
					<div class="row">
						<div class="col-xs-12">
							<%= render_qr_code_small("https://damien-staging.herokuapp.com/admin/products/#{@sticker.product.id}") %>	
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<ul class="list list-unstyled">
								<li><strong><%= number_to_currency_euro @sticker.product.price %></strong></li>
								<li><%= @sticker.product.title %> - <%= @sticker.product.color %></li>
								<li><%= @sticker.product.brand %></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>	
	</div>
</div>