<div class="container">

	<div id="stickers">
		<p><%= link_to "ETIQUETTES", admin_product_sticker_download_sticker_path(@product, @sticker, format: "pdf"), target: "_blank", class: "sticker_download" %></p>
		<div class="row">
		<% @sticker.quantity.times do  %>
			<div class="col-3">
			<div class="sticker">
				<%= render_qr_code_small("https://super-shop-staging.herokuapp.com/admin/products/#{@sticker.product.id}") %>
				<ul class="list list-unstyled">
					<li><%= number_to_currency_euro @sticker.product.price %></li>
					<li><%= @sticker.product.title %> - <%= @sticker.product.color %></li>
					<li><%= @sticker.product.brand %></li>
				</ul>
			</div>
			</div>
		<% end %>
				
		</div>
		
	</div>


	<style>

		#stickers {
			width: 700px;
		}
		.sticker {
			margin: 5px;
			border: 1px dashed #111;
			padding: 10px;
			height: 260px;
			width: 170px;
		}
	</style>
</div>