<div class="container">
	<div class="row">
		<div class="col-12">
			<%= link_to "Télécharger les #{@sticker.quantity} étiquettes", admin_product_sticker_path(@product, @sticker,format: "pdf"), class: "btn btn-main" %>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="sticker">
				<div class="row">
					<div class="col-12">
						<%= render_qr_code_small("https://lapenderie-staging.herokuapp.com/admin/products/#{@sticker.product.slug}") %>	
					</div>
				</div>
				<div class="col-12">
					<ul class="list list-unstyled">
						<li><%= @sticker.product.category.title.upcase %></li>
						<li><%= @sticker.product.title.capitalize %></li>
						<li><%= @sticker.product.color.capitalize %></li>
						<li><%= @sticker.product.brand.capitalize %></li>
					</ul>
				</div>
		  </div>
		</div>
	</div>
</div>