<div class="container">

	<div id="stickers">
		<% @sticker.quantity.times do  %>
			<div class="sticker nobreak">
				<div class="flash">
					<%= render_qr_code_small("https://lapenderie-staging.herokuapp.com/admin/products/#{@sticker.product.slug}") %>	
				</div>
				<div class="info">
					<div class="row">
						<div class="col-xs-12">
							<ul class="list list-unstyled">
								<li><%= @sticker.product.category.title.upcase %></li>
								<li><%= @sticker.product.title.capitalize %></li>
								<li><%= @sticker.product.color.capitalize %></li>
								<li><%= @sticker.product.brand.capitalize %></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
  	<% end %>
	</div>
</div>