<div class="container">

	<h1 class="primary_title">VALIDATION DE LA VENTE</h1>
	<hr>
	<div class="row">
		<div class="col-12 col-md-7"> <!--tableau -->
			<div class="order-tab">
				<% @sale.items.each do |item| %>
					<div class="row order-row">
						<div class="col-2">
							<%= image_tag(item.variant.product.attachments.first.url, class: "order_image") %>
						</div>
						<div class="col-6">
							<small><%= item.variant.product.brand %> - <%= item.variant.product.title %></small>
							<small>Couleur : <%= item.variant.product.color %></small>
							<br>
							<small>Taille : <%= item.variant.size %></small>
							<br>
							<small>Quantité : <%= item.quantity %></small>
						</div>
						<div class="col-4">
							<small><%= number_to_currency_euro item.market_price * item.quantity %></small>
						</div>
					</div>
				<% end %>		
			</div>
		</div>

		<div class="col-12 col-md-4 offset-md-1">
			<div class="total">
				<div class="row">
					<hr>
					<div class="col-6">
						<p>TOTAL</p>	
					</div>
					<div class="col-6 align-right">
						<p><%= number_to_currency_euro @sale.items.map {|i| i.market_price * i.quantity }.sum %></p>
					</div>
					<div class="col-12">
						<%= simple_form_for @sale, url: admin_cash_path do |f| %>
						  <div class="<%= 'error_message' if @sale.errors.full_messages.any? %> ">
						   <% if  @sale.errors.any? %>
						     <% @sale.errors.full_messages.each do |msg| %>
						      <li><%= msg %></li>
						     <% end %>
						    <% end %>
						 </div>
						  <%= f.hidden_field :user_id %>
						  <%= f.submit "Confirmer la vente", class: "btn btn-main btn-block" %>
						<% end %>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>