<% @returnings.each do |returning| %>
	<tr>
		<td><%= l(returning.created_at, format: '%d %B %Y' ) %></td>
		<td><%= returning.user.last_name %> </td>
		<td><%= returning.user.first_name %></td>
		<td ><%= returning.number %></td>
		<td class="<%= "#{returning.status.downcase}_status_tab" %>" ><%= t("admin.returnings.#{returning.status}") %></td>
		<td><%#= number_to_currency_euro(returning.sub_total) %></p></td>
		<td><%= link_to  admin_returning_path(returning), class: "btn btn-watch" do %>
			<i class="fa fa-eye"></i>
		<% end %>
		</td>
	</tr>
<% end %>