<div class="container">
	
	<h3>LES RETOURS</h3>
	<hr>
	<br><br>
	<div class="admin_panel">
     <%= simple_form_for :query, url: admin_returnings_path, method: :get,  html: {class: "form-inline"} do |f| %>
       <%= f.input  :keyword, placeholder: "Rechercher par nom", label: false, input_html: {class: "search-order"} %>
       <%= button_tag type: 'submit', class: 'search-btn-nav-admin' do %>
         <i class="fa fa-search"></i>
       <% end %>
     <% end %>
     <br>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th >Retour n° </th>
					<th >Etat du retour</th>
					<th>Voir</th>
				</tr>
			</thead>
			<tbody id="returnings">
				<%= render partial: "returnings" %>
			</tbody>
		</table>
	 	<%= will_paginate @returnings %>
 </div>

</div>