<div class="container">
<h3>RETOUR <%= @returning.user.full_name.upcase %></h3>
<hr>
<br>
	<div class="header_return">
		<div class="row">
			<div class="col-4">
				<p>N° retour : <%= @returning.id %></p>
				<p>Date limite retour : <%= l(@returning.limit_date, format: '%d %B %Y') %></p>
				<p>Total à rembourser: <%= number_to_currency_euro @returning.total_refund %></p>
				<p>Nombre d'articles : <%= @returning.total_items_count %></p>
				<p>Etat du retour : <%= @returning.status %> </p>
			</div>	
			<div class="col-4">
				<p>N° client : <%= @returning.user.id %></p>
				<p>Date commande : <%= l(@returning.order.created_at, format: '%d %B %Y') %></p>
				<p>N° commande : <%= @returning.order.id %></p>
			</div>
			<div class="col-4">
				<% if @returning.status == "pending" %>
					<%= simple_form_for(@returning, url: admin_returning_path(@returning) )do |f| %>
					  <%= f.hidden_field :status, value: "confirmed" %>
					  <%= submit_tag "Le retour est arrivé" , class: "btn btn-secondary", data: {confirm: "N'oubliez pas de rembourser le client" }%>
					<% end %>
				<% elsif @returning.status == "confirmed" %>
					<%= simple_form_for(@returning, url: admin_returning_path(@returning) )do |f| %>
		        <%= f.hidden_field :status, value: "refunded" %>
		        <%= submit_tag "Le remboursement a été fait" , class: "btn btn-secondary"%>
		      <% end %>				
		   <% end %>
			</div>
		</div>
	</div>

	<table class="table table-striped">
		<tbody>
			<% @returning.items.where(selected: true).each do |item| %>
				<tr>
					<td><%= image_tag item.variant.product.attachments.first.url, class: "small_image" %></td>
					<td><%= item.quantity %></td>
					<td>
						<%= item.variant.product.title %> 
						<br>
						<%= item.variant.product.color %>
					</td>
					<td>Taille: <%= item.variant.size %></td>
					<td><%= number_to_currency_euro item.variant.product.price  * item.quantity %></td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='4' align="right">Total à rembourser</td>
				<td colspan='5' align="left"><%= number_to_currency_euro @returning.total_refund %></td>
			</tr>
		</tfoot>
	</table>
	<div class="col-12">
		<br>
		<h4>La raison du retour client</h4>
		<hr>
		<p> <%= simple_format @returning.reason %></p>
	</div>
</div>