<% @client_returnings.order('created_at DESC').each do |returning| %>
	<tr>
		<td>
			FR-000<%= returning.id %>
		</td>
		<td>
			<%= l(returning.created_at, format: '%d %B %Y' )%>
		</td>
		<td><%= number_to_currency_euro returning.total_refund %></td>
		<td><%= t("clients.returnings.#{returning.status}") %></td>
		<td><%= link_to  clients_returning_path(returning), class: "btn btn-watch" do %>
			<i class="fa fa-eye"></i>
		<% end %></td>
	</tr>
<% end %>

