<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-1">
      <h2>Je modifie mon compte</h2>
      <hr>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <div class="row">
         <div class="col-12 <%= 'error_message' if @user.errors.full_messages.any? %> ">
           <%= devise_error_messages! %>
         </div>
       </div>
      
        <div class="row">
          <div class="col-12 col-md-6">
           
            <%= f.input :gender,  collection: ["Madame", "Monsieur"], prompt: "Choisir", label: false , hint: "Séléctionnez votre genre",input_html: { class: "custom-select" } %>
          </div>
          <div class="col-12 col-md-6">     
            <%= f.input :birth_date, as: "string", placeholder: "Date de naissance", label: false, required: true, input_html: { class: 'datepicker' } %>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :first_name, autofocus: true, placeholder: "Prénom", label: false %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :last_name, autofocus: true, placeholder: "Nom", label: false %>
          </div>
        </div>
        <hr>
        
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :phone, autofocus: true, placeholder: "Numéro de téléphone", label: false %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :email, autofocus: true, placeholder: "email", label: false %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :password, placeholder: "Mot de passe", hint: "A remplir seulement si vous souhaitez modifier votre mot de passe", label: false %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :password_confirmation, placeholder: "Confirmation du mot de passe", hint: "A remplir seulement si vous souhaitez modifier votre mot de passe", label: false %>
          </div>
        </div>


        <hr>
        <div class="row">
          <div class="col-6">
            <%= f.submit "Modifier mon inscription", class: 'btn btn-main btn-block' %>
          </div>
        </div>
      <% end %>



    </div>
  </div>

</div>
