<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Première inscription</h2>
      <hr>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <div class="row">
         <div class="col-12 <%= 'error_message' if @user.errors.full_messages.any? %> ">
           <%= devise_error_messages! %>
         </div>
       </div>
      
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.collection_radio_buttons :gender, [[true, 'Madame'], [false, 'Monsieur']], :first, :last %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <%= f.input :first_name, autofocus: true, placeholder: "Prénom", label: false %>
          </div>
          <div class="col-12 col-md-4">
            <%= f.input :last_name, autofocus: true, placeholder: "Nom", label: false %>
          </div>
          <div class="col-12 col-md-4">
            <%= f.input :birth_date , label: false, placeholder: "Votre date de naissance jj/mm/aaaa" %>
          </div>
        </div>
        <hr>
  
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :email, autofocus: true, placeholder: "E-mail", label: false %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :email_confirmation, autofocus: true, placeholder: "Confirmermation de l'E-mail", label: false %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-md-6">
            <%= f.input :password, placeholder: "Mot de passe", label: false %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.input :password_confirmation, placeholder: "Confirmation du mot de passe", label: false %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.input :list_subscriber, as: :boolean, 
                checked_value: true, 
                unchecked_value: false, 
                label: "J'accepte de recevoir les news letters et offres promotionnelles" %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <br>
            <%= f.submit "Valider mon inscription", class: 'btn btn-main btn-block' %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>

</div>