<% @client_orders.order('created_at DESC').each do |order| %>
	<tr>
		<td>
			<%= order.number %>
		</td>
		<td>
			<%= l(order.created_at, format: '%d %B %Y' )%>
		</td>
		<td><%= number_to_currency_euro order.sub_total %></td>
		<td><%= t("clients.orders.#{order.status}") %></td>
		<td><%= link_to  clients_order_path(order), class: "btn btn-watch" do %>
			<i class="fa fa-eye"></i>
		<% end %></td>
	</tr>
<% end %>

