<div class="container">

	<div class="row">
			<div class="d-none d-sm-block col-md-2">

			<%= render 'clients/shared/menu_user' %>
		</div>
		<div class="col-12 col-md-10">
			<% @orders.where(user_id: current_user.id).order('created_at DESC').each do |order| %>
				<%= link_to clients_order_path(order) do  %>
					<div class="small-cards">
						<div class="row">
							<div class="col-6">
								<p>Commandé le : </p><p><%= l(order.created_at, format: '%d %B %Y' )%></p>
							</div>
							<div class="col-4">
								<p>Articles: <%= order.count_articles %></p>
								<p>Total : <%= number_to_currency_euro order.total %></p>
							</div>
							<div class="col-2">
								<i class="fa fa-chevron-right"></i>
							</div>
						</div>		
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>






