<div class="container">

	<h1 class="primary_title">VALIDATION DE VOTRE COMMANDE</h1>
	<hr>
	<div class="row">
		<div class="col-12 col-md-7"> <!--tableau -->
			<div class="order-tab">
				<% @order.items.each do |item| %>
					<div class="row order-row">
						<div class="col-2">
							<%= image_tag(item.variant.product.attachments.first.url, class: "small_image") %>
						</div>
						<div class="col-6">
							<small><%= item.variant.product.brand %> - <%= item.variant.product.title %></small>
							<small>Couleur : <%= item.variant.product.color %></small>
							<br>
							<small>Taille : <%= item.variant.size %></small>
							<br>
							<small>Quantité : <%= item.quantity %></small>
						</div>
						<div class="col-2 offset-1">
							<p><%= number_to_currency_euro item.price * item.quantity %></p>
						</div>
					</div>
				<% end %>		
			</div>
		</div>

		<div class="col-12 col-md-4 offset-md-1">
			<div class="row">
				<div class="col-12">
					<h3 class="secondary_title">ADRESSE DE LIVRAISON
						<% if current_user.shipping_address %>
							<%= link_to edit_clients_shipping_address_path(current_user.shipping_address) do  %>
								<i class="fa fa-edit"></i>
							<% end %>
						<% else %>
							<%= link_to new_clients_shipping_address_path(current_user.shipping_address) do  %>
								<i class="fa fa-plus-square"></i>
							<% end %>
						<% end %>
					</h3>	
					<hr>
							<% if current_user.shipping_address %>
								<p class="full_name"><%= current_user.shipping_address.full_name %></p>
								<p><%=  current_user.shipping_address.address_1 %> </p>
								<p><%=  current_user.shipping_address.address_2 %> </p>

								<p><%=  current_user.shipping_address.zipcode %> <%=  current_user.shipping_address.city %></p>
					  		<p><%= current_user.shipping_address.phone %></p>
							<% end %>
				</div>
				<div class="col-12">
					<h3 class="secondary_title">ADRESSE DE FACTURATION

						<% if current_user.billing_address %>
							<%= link_to edit_clients_billing_address_path(current_user.billing_address) do %>
								<i class="fa fa-edit"></i>
							<% end %>
						<% elsif current_user.shipping_address.present? %>
							<%= link_to new_clients_billing_address_path do %>
								<i class="fa fa-edit"></i>
							<% end %>
						<% else %>
							<%= link_to new_clients_billing_address_path do %>
								<i class="fa fa-plus-square"></i>
							<% end %>
						<% end %>
					</h3>
						<hr>
					<% if current_user.billing_address.present?%>
						<p class="full_name"><%=  current_user.billing_address.full_name %></p>
						<p><%=  current_user.billing_address.address_1 %></p>
						<p><%=  current_user.billing_address.address_2 %></p>
						<p><%=  current_user.billing_address.zipcode %> <%=  current_user.billing_address.city %></p>
					  <p><%=  current_user.billing_address.phone %></p>
					 <% elsif current_user.shipping_address.present? %>
					 <p>Identique à l'adresse de livraison</p>
					<% end %>
				</div>
			</div>
			<div class="total">
				<div class="row">
					<hr>
					<div class="col-6">
						<p>SOUS TOTAL</p>
						<p>LIVRAISON</p>
						<p>TOTAL</p>	
					</div>
					<div class="col-6 align-right">
						<p><%= number_to_currency_euro @order.items.map {|i| i.price * i.quantity}.sum  %></p>
						<p><%= number_to_currency_euro @order.shipping_fees %></p>
						<p><%= number_to_currency_euro @order.items.map {|i| i.price * i.quantity }.sum + 5 %></p>
					</div>
					<div class="col-12">
						<% if current_user.shipping_address %>
							<%= simple_form_for @order, url: clients_checkout_path do |f| %>
							  <div class="<%= 'error_message' if @order.errors.full_messages.any? %> ">
							   <% if  @order.errors.any? %>
							     <% @order.errors.full_messages.each do |msg| %>
							      <li><%= msg %></li>
							     <% end %>
							    <% end %>
							 </div>
							  <%= f.hidden_field :user_id %>
							  <%	if @order.gcos_accepted == true %>
							   	<small>Vous avez accepté les <%= link_to "CGV", clients_general_condition_of_sales_path %></small>
							   	<br>
							  <%	 else %>
						 		  <%= f.input :gcos_accepted, as: :boolean, 
											checked_value: true, 
											unchecked_value: false, 
											label: ("J'ai lu et accepte les #{link_to 'CGV', clients_general_condition_of_sales_path}.").html_safe %>
								<% end %>
							  <%= f.submit "Valider la commande", class: "btn btn-main btn-block" %>
							<% end %>
						<% else %>
						<%= link_to "Valider la commande", new_clients_shipping_address_path, class: "btn btn-main btn-block" %>
						<% end %>
					</div>
					
				</div>
				<div class="row">
					<div class="col-12">
						<small>Livraison estimée entre: </small><br>
						<small> <%= l(delivery_date_1,  format: '%d %B %Y' ) %> et <%= l(delivery_date_2, format: '%d %B %Y') %></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>