<div class="container">
	
	<h1>VÉRIFIEZ VOTRE COMMANDE</h1>
	<div class="row">
		<div class="col-12 col-md-7"> <!--tableau -->
			<table class='table striped'>
				<% @order.items.each do |item| %>
					<tbody>
						<tr>
							<td><%= item.product.brand %></td>
							<td><%= item.product.title %></td>
							<td><%= item.size.size_name %></td>
							<td><%= number_to_currency_euro item.price %></td>
						</tr>
					</tbody>
				<% end %>
				<tbody>
					<td></td>
					<td></td>
					<td>Sous total</td>
					<td ><%= number_to_currency_euro @order.items.map {|i| i.price}.sum  %></td>
				</tbody>
				<tbody>
					<td></td>
					<td></td>
					<td>Livraison</td>
					<td><%= number_to_currency_euro @order.shipping_fees %></td>
				</tbody>
				<tfoot>
					<td></td>
					<td></td>
					<td>Total</td>
					<td><%= number_to_currency_euro @order.items.map {|i| i.price }.sum + 5 %></td>
				</tfoot>
			</table>
			<br>
			<br>
			<br>
			<%= form_for @order, url: clients_checkout_path do |f| %>
				<%= f.hidden_field :user_id %>

						<%= f.submit "Payer", class: "btn btn-success btn-block" %>

			<% end %>
		</div>

		<div class="col-12 col-md-5">
			<div class="row">
				<div class="col-12">
					<h3>ADRESSE DE LIVRAISON
						<%= link_to edit_registration_path(current_user) do  %>
							<i class="fa fa-edit"></i>
						<% end %>
					</h3>	
					<hr>

						
						<p><%=  current_user.first_name %> <%=  current_user.last_name %></p>
						<p><%=  current_user.address_1 %></p>
						<p><%=  current_user.address_2 %></p>
						<p><%=  current_user.zipcode %> <%=  current_user.city %></p>
					  <p><%=  current_user.phone %></p>
			
				</div>
				<div class="col-12">

					<h3>ADRESSE DE FACTURATION
						<%= link_to new_billing_address_path(current_user.billing_address) do %>
							<i class="fa fa-edit"></i>
						<% end %>
					</h3>
						<hr>
					<% if current_user.billing_address.present?%>
						<p><%=  current_user.billing_address.first_name %> <%=  current_user.billing_address.last_name %></p>
						<p><%=  current_user.billing_address.address_1 %></p>
						<p><%=  current_user.billing_address.address_2 %></p>
						<p><%=  current_user.billing_address.zipcode %> <%=  current_user.billing_address.city %></p>
					  <p><%=  current_user.billing_address.phone %></p>
					 <% else %>
					 <p>Identique à l'adresse de livraison</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>


</div>