<div class="container">
	<p>Reglement de <%= number_to_currency_euro current_cart.sub_total %></p>
	<%= form_for @order, url: clients_checkout_path do |f| %>
		<%= f.hidden_field :user_id %>
			<% if current_user.completed_profile? %>
				<%= f.submit "Payer", class: "btn btn-success" %>
			<% else %>
				<%=  link_to "Complètez vos coordonnées pour continuer", edit_user_registration_path(current_user) %>
			<% end %>
	<% end %>
</div>