<div id="container">
  
<h1 class="title">FACTURE</h1>


<header>
  <div class="contact">
    <% if order.user.billing_address.present? %>
      <p><%= order.user.billing_address.full_name %></p>
      <p><%= order.user.billing_address.street_number %> <%= order.user.billing_address.route %></p>
      <p><%= order.user.billing_address.postal_code %> <%= order.user.billing_address.locality %></p>
    <% else %>
      <p><%= order.user.shipping_address.full_name %></p>
      <p><%= order.user.shipping_address.street_number %> <%= order.user.shipping_address.route %></p>
      <p><%= order.user.shipping_address.postal_code %> <%= order.user.shipping_address.locality %></p>
    <% end %>
  </div>
  <div class="company">
    <p><%= Company.instance.name %></p>
    <p><%= Company.instance.address_1 %></p>
    <p><%= Company.instance.address_2 %></p>
    <p><%= Company.instance.zipcode %> <%= Company.instance.city %></p>
    <p><%= Company.instance.country %></p>
  </div>
 
</header>


  <div class="row">
    <div class="col-4">
     <div class="reference_invoice">
       <p>Facture N° <%= order.id %></p>
       <p>Ref Client :  <%= order.user.id %></p>
       <p>Date : <%= l(order.created_at, format: '%d %B %Y' ) %></p>
     </div>
    </div>
  </div>


  <div class="row">
    <table class="table table-striped line-items">
      <thead>
          <tr>
            <th>Quantité</th>
            <th>Désignation</th> 
            <th>Taille</th> 
            <th>Prix</th>
          </tr>
      </thead>
      <tbody>
        <% order.items.each do |item| %>
    
        <tr>
          <td align="right"><%= item.quantity %> </td>
          <td align="right"><%= item.variant.product.title %></td>
          <td align="right"><%= item.variant.size %></td>
          <td align="right"><%= number_to_currency(item.variant.product.price) %>€</td>
        </tr>

        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" align="right">Sous Total</td>
          <td colspan="3" align="right"><%= number_to_currency order.total %>€</td>
        </tr>
        <tr>
          <td colspan="3" align="right">Frais de port</td>
          <td colspan="3" align="right"><%= number_to_currency order.shipping_fees %>€</td>
        </tr>
        <tr>
          <td colspan="3" align="right">Total</td>
          <td colspan="3" align="right"><%= number_to_currency order.total %>€</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="row">
    <div id="notes">
      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est recusandae sint harum nostrum nesciunt dignissimos, error laborum nam inventore nihil magnam cupiditate, rerum totam, consectetur omnis delectus? Quas, accusantium, corporis!</small>
    </div>
  </div>


</div>


