<div class="container">

	<h1 class="primary_title">MA COMMANDE N° <%= @order.id %></h1>
	<hr>
	<div class="row">
		<div class="col-12 col-md-10 offset-1">
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Commande passée le <%= l(@order.created_at, format: '%d %B %Y' )%></p>
					<p>Commande: FR-000<%= @order.id %></p>
					<hr>
				</div>

				<div class="col-12 col-md-6">
					<p>Nombre d'articles: <%= @order.count_articles %></p>
					<p>Total : <%= number_to_currency_euro @order.total %></p>
					<hr>
			 </div>

				<div class="row">
					<% @order.items.each do |item| %>
						<div class="col-12">
							<div class="row">	
								<div class="col-4">
									<%= link_to clients_product_path(item.variant.product) do  %>
										<%= image_tag(item.variant.product.attachments.first.url, class: "small_image") %>
									<% end %>
								</div>
								<div class="col-8">
									<p><%= item.quantity %>-<%= item.variant.product.title %> | Taille <%= item.variant.size %> | <%= number_to_currency_euro(item.variant.product.price) %></p>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-6">
					<% unless @order.status == "cancelled" %>
						<%= link_to "Télécharger la facture", clients_order_path(@order, format: "pdf"), target: "_blank", class: "btn btn-secondary" %>
					<% end %>
				</div>
				<div class="col-6">
					<% if @order.status == "paid" %>
						<%= simple_form_for(@order, url: clients_order_path(@order) )do |f| %>
						  <%= f.hidden_field :status, value: "cancelled" %>
						  <%= submit_tag "Annuler ma commande", class: "btn btn-link", data: { confirm: "Etes vous sure de vouloir annuler votre commande?" } %>
						<% end %>
					<% elsif @order.status == "cancelled" %>
						<p>Votre commande a été annulée.</p>
					<% elsif @order.status == "confirmed" %>
						<p>Votre commande a été prise en charge par notre équipe, nous ne pouvons plus pas l'annuler.</p>
					<% elsif @order.status == "shipped" %>
					<p>Votre commande a été expédiée</p>
						<% if Date.today <= @order.return_limit_date %>
								Vous pouvez retourner vos articles jusqu'au <%= l(@order.return_limit_date, format: '%d %B %Y') %> inclus
						<% end %>
							<%= simple_form_for(@order, url: clients_order_path(@order) )do |f| %>
								<%= f.hidden_field :return_asked, value: true %>
								<%= f.submit "Demander un retour", class: " btn btn-link" , id: "ask-return" %>
							<% end %>
							<% if !@returning.nil? %>
								<%= link_to "Voir le retour",  clients_order_returning_returning_items_path(@order, @returning), class: "btn btn-link" %>	
							<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

