<div class="container">

	<h1 class="primary_title">MA COMMANDE N° <%= @order.number %> - <%= t("clients.orders.#{@order.status}") %></h1>
	<hr>
	<div class="row">
		<div class="col-12">
			<ul class="list-inline-mb-0">
				<li class="list-inline-item">
					<% unless @order.cancelled_by_client? || @order.cancelled_by_admin? %>
						<%= link_to "Télécharger la facture", clients_order_path(@order, format: "pdf"), target: "_blank", class: "btn btn-link link_invoice" %>
					<% end %>
				</li>
				<li class="list-inline-item">

					<% if @returning.nil? && (@order.full_shipped? || @order.partly_shipped?) && Date.today <= @order.return_limit_date %>
						<%= simple_form_for(@order, url: clients_order_path(@order))do |f| %>
							<%= f.hidden_field :return_asked, value: true %>
							<%= f.submit "Demander un retour", class: " btn btn-link link_invoice" , id: "ask-return" %>
						<% end %>
					<% elsif @order.return_asked? %>
						<%= link_to "Voir le retour", clients_order_returning_returning_items_path(@order, @returning), class: "btn btn-link link_invoice" %>	
					<% end %>
				</li>
				<li class="list-inline-item">
					<% if @order.paid? %>
						<%= simple_form_for(@order, url: clients_order_path(@order) )do |f| %>
						  <%= f.hidden_field :status, value: "cancelled_by_client" %>
						  <%= submit_tag "Annuler ma commande", class: "btn btn-link link_invoice", data: { confirm: "Etes vous sure de vouloir annuler votre commande?" } %>
						<% end %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>


	<div class="row">
		<div class="col-12 col-md-4">
			<div class="address_box">
				<p>ADRESSE DE LIVRAISON</p>
				<p><%= @order.user.full_name %></p>
				<p><%= @order.user.shipping_address.address_1 %></p>
				<p><%= @order.user.shipping_address.address_2 %></p>
				<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
				<p><%= @order.user.shipping_address.phone %></p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="address_box">
				<p>ADRESSE DE FACTURATION</p>
				<% if @order.user.billing_address %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.billing_address.address_1 %></p>
					<p><%= @order.user.billing_address.address_2 %></p>
					<p><%= @order.user.billing_address.zipcode %> <%= @order.user.billing_address.city %></p>
					<p><%= @order.user.billing_address.phone %></p>
				<% else %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.shipping_address.address_1%></p>
					<p><%= @order.user.shipping_address.address_2 %></p>
					<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
					<p><%= @order.user.shipping_address.phone %></p>
				<% end %>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="address_box">
				<p>LIVRAISON</p>
				<p>La Poste - Colissimo</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<% if @order.cancelled_by_client? %>
				<p>Vous avez annulé votre commande.</p>
				<% if @order.totally_refunded? %>
					<p>Vous avez été remboursé</p>
				<% end %>
			<% elsif @order.confirmed? %>
				<p>Votre commande a été prise en charge par notre équipe, nous ne pouvons plus pas l'annuler.</p>
		<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
		<p>Commande passée le <%= l(@order.created_at, format: '%d %B %Y' )%></p>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Article</th>
				<th>Prix</th>
				<th>Qté</th>
				<th>Sous total</th>
			</tr>
		</thead>
		<tbody>
			<% @order.items.each do |item| %>
				<tr>
					<td>
						<%= link_to clients_product_path(item.variant.product) do  %>
							<%= image_tag(item.variant.product.attachments.first.url, class: "small_image") %>
						<% end %>
					</td>
					<td><%= number_to_currency_euro item.price %></td>
					<td>
						<p>Commandé: <%= item.quantity %></p>
						<% if @order.full_shipped? %>
							<p>Livré: <%= item.quantity - item.missing_quantity %></p>
						<% end %>

						<% if item.missing_quantity > 0 %>
							<p>Manquant: <%= item.missing_quantity %></p>
							<p>Remboursé: <%= item.missing_quantity + (@order.return_asked ? item.returning_item.quantity  : 0 )%></p>
						<% end %>
						<% if item.selected == true %>
						 <p>Retourné: <%= item.returning_item.quantity %></p>
						<% end %>
					</td>
					<td><%= number_to_currency_euro item.price * item.quantity %></td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='3' align="left">
					Sous total
				</td>
				<td>
					<%= number_to_currency_euro @order.sub_total %>
				</td>
			</tr>
			<tr>
				<td colspan='3' align="left">
					Frais de port
				</td>
				<td>
				 5,00 €
				</td>
			</tr>
			<tr>
				<td colspan='3' align="left">
					Total
				</td>
				<td>
				 <%= number_to_currency_euro @order.sub_total + 5 %>
				</td>
			</tr>
		</tfoot>
	</table>
</div>