<div class="container">

	<h1 class="primary_title">MA COMMANDE N° <%= @order.id %></h1>
	<hr>
	<div class="row">
		<div class="col-12 col-md-10 offset-1">
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Commande passée le <%= l(@order.created_at, format: '%d %B %Y' )%></p>
					<p>Nombre d'articles: <%= @order.count_articles %></p>
					<p>Total : <%= number_to_currency_euro @order.total %></p>
				</div>

				<div class="col-12 col-md-6">
					<p>Etat de la commande: <%= t(".#{@order.status}") %></p>
					<p>Commande: FR-000<%= @order.id %></p>
					<p><%= link_to "MA FACTURE", "#"  %></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12">
					<% @order.items.each do |item| %>
						<div class="row">	
							<div class="col-4">
								<%= link_to clients_product_path(item.variant.product) do  %>
									<%= image_tag(item.variant.product.attachments.first.url, class: "small_image") %>
								<% end %>
							</div>
							<div class="col-8">
								<p><%= item.quantity %>-<%= item.variant.product.title %> | Taille <%= item.variant.size %> | <%= number_to_currency_euro(item.variant.product.price) %></p>
							</div>
						</div>
					<hr>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

