<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "SuperShop", root_path,  class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if current_user && current_user.admin? %>
        <% Category.all.each do |cat| %>
          <li class="nav-item ">
            <%= link_to  "#{cat.title} ", admin_category_path(cat), class: "nav-link" %>
          </li>
        <% end %>
      <% else %>
        <% Category.all.each do |cat| %>
          <li class="nav-item ">
            <%= link_to  "#{cat.title} ", clients_category_path(cat), class: "nav-link" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <ul class="navbar-nav right">
    <% if current_user && current_user.admin? %>
      <li class="nav-item ">
        <%= link_to   "Mon Stock", admin_products_path, class: "nav-link" %>
      </li>
    <% end %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user %>
          <%= current_user.first_name %>
        <% else %>
          Mon Compte
        <% end %>
       </a>
      <% if current_user %>
        <% if current_user.admin? %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Ajouter un produits", new_admin_product_path, class: "dropdown-item" %>
            <%= link_to "Commandes", admin_orders_path, class: "dropdown-item"  %>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true },class: "dropdown-item" %>
          </div>
        <% else %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Profile", clients_user_path(current_user), class: "dropdown-item"  %>
            <%= link_to "Commandes", clients_orders_path, class: "dropdown-item"  %>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true },class: "dropdown-item" %>
          </div>
        <% end %>
     <% else %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Connexion", new_user_session_path, class: "dropdown-item"  %>
        </div>           
      <% end %>
    </li>

     <%= link_to clients_cart_path do %>
       <i class="fa fa-shopping-basket nav-link"> <%= current_cart.items_count %></i>
     <% end %>
  </ul>
</nav>