<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "SuperShop", root_path,  class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Commandes", orders_path, class: "nav-link"  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user && current_user.completed_profile? %>
            <%= current_user.first_name %>
          <% else %>
            Mon Compte
         <% end %>
        </a>
        <% if current_user %>
	        <% if current_user.admin? %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Ajouter un produits", new_product_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true },class: "dropdown-item" %>
            </div>
          <% else %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item"  %>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true },class: "dropdown-item" %>
            </div>
          <% end %>
	     <% else %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Connexion", new_user_session_path, class: "dropdown-item"  %>
          </div>          
	        	
	      <% end %>
      </li>
    </ul>
  </div>
      <%= link_to cart_path do   %>
        <i class="fa fa-shopping-basket"> <%= current_cart.items_count %></i>
      <% end %>

  <ul class="navbar-nav right">
  </ul>
</nav>