<div class="container">
		<h3>Séléctionnez les articles qui ne sont plus disponibles</h3>
		<hr>
		<br>
	<div class="row">
		<% if @items.map {|item| item.quantity > 1} %>	
  		<p id="message-qty">Séléctionnez le nombre d'articles indisponibles</p>
		<% end %>

		<table class="table">
			<tbody>
				<% @items.each do |item|%>
					<tr>
						<td><%= image_tag item.variant.product.attachments.first.url, class: "small_image" %></td>
						<td><%= item.quantity %></td>
						<td><%= item.variant.product.title %> / <%= item.variant.product.color %></td>
						<td><%= item.variant.size %></td>
						<td><%= number_to_currency_euro item.variant.product.price %></td>
						<%# if item.missing && item.quantity > 1 %>
							<td>
								<%= form_with model: @item, method: :patch, remote: true, html: { class: "update-form"}  do |f| %>
									<%= f.hidden_field :id, value: item.id %>
									<%#= f.check_box :missing, { checked: true, value: item.missing, class: 'form-control check', onchange: 'this.form.submit();'} %>
									<%= f.select :missing_quantity, options_for_select((0..item.quantity), selected: item.missing_quantity, value: item.missing_quantity), {}, { class: 'form-control',  onchange: 'this.form.submit();' } %> 
								<% end %>
								<%#= form_with model: @item, method: :patch, remote: true, html: { class: "update-form"}  do |f| %>
									<%#= f.hidden_field :id, value: item.id %>
									<%#= f.check_box :missing, { checked: true, value: item.missing, class: 'form-control check', onchange: 'this.form.submit();'} %>
									<%#= f.select :missing_quantity, options_for_select((1..item.quantity), selected: item.missing_quantity, value: item.missing_quantity), {}, { class: 'form-control',  onchange: 'this.form.submit();' } %> 
								<%# end %>
							</td>
						<%# elsif item.missing && item.quantity == 1 %>
							<td>
								<%#= form_with model: @item, method: :patch, remote: true, html: { class: "update-form"}  do |f| %>
									<%#= f.hidden_field :id, value: item.id %>
									<%#= f.check_box :missing, { checked: true, value: item.missing, class: 'form-control check', onchange: 'this.form.submit();'} %>
								<%# end %>
							</td>
						<%# elsif !item.missing %>
							<td>
								<%#= form_with model: @item, method: :patch, remote: true, html: { class: "update-form"}  do |f| %>
									<%#= f.hidden_field :id, value: item.id %>
									<%#= f.check_box :missing, { checked: false, value: item.missing, class: 'form-control check', onchange: 'this.form.submit();'} %>
								<%# end %>
							</td>
						<%# end %>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% if @items.map(&:missing_quantity).sum > 0 %>
			<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
			  <%= f.hidden_field :status, value: "missing_item" %>
			  <%= submit_tag "Confirmer et prévenir le client", data: {confirm: "Un email va pévenir le client qu'un ou des articles sont indisponibles"}, class: "btn btn-danger"%>
			<% end %>
		<% else %>
			<%= link_to "Revenir à la commande", admin_order_path(@order)  %>
		<% end %>
		
	</div>
</div> 

