<div class="container">


	<h1>Panier</h1>
	<div class="row">
		<div class="col-9">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Article</th>
						<th>Quantité</th>
						<th>Prix</th>
						<th>Taille</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<%  @items.each do |item| %>
					<tr>
						<td class="tab_image"><%= image_tag(item.product.attachments.first.url, class: "tiny_image") %> 
							<%= link_to item.product.title, clients_product_path(item.product_id), class: "title_in_tab" %> </td>	
						<td class="tab_quantity"><%= item.quantity %></td>
						<td><%= item.product.price %></td>
						<td><%= item.size.size_name %></td>
						<td>
							<%= link_to "Supprimer", clients_order_item_path(item), method: :delete, data: {confirm: "Voulez vous vraiment supprimer cet article?"} %>
						</td>
					</tr>	
					<% end %>		
				</tbody>
				<tfoot>
					<tr>
						<td colspan='4' align="right"><%= number_to_currency_euro current_cart.sub_total %></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-3">
			<%= link_to "Continuer les achats", root_path, class: "btn btn-primary" %>
			<br><br>

			<%= link_to "Checkout", clients_checkout_path, class: "btn btn-success" %>
			<br>
			<small><i>Votre panier expirera dans 30 minutes</i></small>
		</div>
	</div>
</div>

	