<div class="container">
		<h1>Gestion des commandes</h1>
		<hr>
		<br><br>
		<div class="admin_panel">

		<ul class="list-inline">
	   	<li class="tabs list-inline-item "><%= link_to "Toutes", admin_orders_path  %></li>
	    <% orders_filtered_by_status.each do |status| %>
				 	<li class="tabs list-inline-item <%= params[:status] == status.to_s ? "tabs__item--active" : "tabs__item--inactive" %>">
				 	  <%= link_to t(".#{status}"), status: status %>
				 	</li>
	    <% end %>
		</ul>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th scope="col">Ref Client</th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th >Commande n° </th>
						<th >Etat de la commande</th>
						<th>Total</th>
						<th>Voir</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
							<tr>
								<td><%= l(order.created_at, format: '%d %B %Y' ) %></td>
								<td>FR-000<%= order.user_id %></td>
								<td><%= order.user.billing_address.last_name %> </td>
								<td><%= order.user.billing_address.first_name %></td>
								<td >#00<%= order.id %></td>
								<td class="<%= "#{order.status.downcase}_status_tab" %>" ><%= t(".#{order.status}") %></td>
								<td><%= number_to_currency_euro(order.sub_total) %></p></td>
								<td><%= link_to "Voir", admin_order_path(order) %></td>
							</tr>
					<% end %>
				</tbody>
		</table>
	 </div>
	 <div class="row">
	 	<div class="col-12 col-md-8 offset-4">
	 		<%= will_paginate @orders %>
	 	</div>
	 </div>
</div>