<div class="container">
	<h1 class="primary_title">COMMANDE N° <%= @order.number %> - <%= t("admin.orders.#{@order.status}") %></h1>
	<hr>
	<%= link_to " Retour à la liste des commandes", admin_orders_path, class: 'btn btn-main' %> 
	<div class="row">
		<div class="col-12 col-md-4">
			<div class="address_box">
				<p>ADRESSE DE LIVRAISON</p>
				<p><%= @order.user.full_name%></p>
				<p><%= @order.user.shipping_address.address_1%></p>
				<p><%= @order.user.shipping_address.address_2 %></p>
				<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
				<p><%= @order.user.shipping_address.phone %></p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="address_box">
				<p>ADRESSE DE FACTURATION</p>
				<% if @order.user.billing_address %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.billing_address.address_1 %></p>
					<p><%= @order.user.billing_address.address_2 %></p>
					<p><%= @order.user.billing_address.zipcode %> <%= @order.user.billing_address.city %></p>
					<p><%= @order.user.billing_address.phone %></p>
				<% else %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.shipping_address.address_1%></p>
					<p><%= @order.user.shipping_address.address_2 %></p>
					<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
					<p><%= @order.user.shipping_address.phone %></p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="order_box">
				Gestion de la commande: <br>
					Tous les articles sont disponibles
				<% if @order.paid? %>
					<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
					  <%= f.hidden_field :status, value: "confirmed" %>
					  <%= submit_tag "Je prépare la commande" , class: "btn btn-secondary",id: "prepare_order", data: {confirm: "Pense bien a revenir valider l'expédition une fois l'article envoyé" }%>
					<% end %>
					<br><br>
					<%= link_to "Un article manque ? ", admin_order_order_items_path(@order), class: "btn btn-danger"  %>
				<% elsif @order.confirmed? %>
					<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
		        <%= f.hidden_field :status, value: "finished" %>
		        <%= submit_tag "J'ai envoyé la commande" , class: "btn btn-secondary"%>
		      <% end %>
		    <% elsif @order.cancelled_by_admin? || @order.cancelled_by_client? %>
		      <p>Commande annulée</p>
	  			<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
	          <%= f.hidden_field :status, value: "totally_refunded" %>
	          <%= submit_tag "J'ai totalement remboursé le client" , class: "btn btn-secondary", data: {confirm: "Avez vous bien procédé au remboursement via Stripe" } %>
	        <% end %>
		    <% elsif @order.totally_refunded? %>
		    	<p>La commande a été remboursée </p>
		    <% elsif @order.all_is_missing? %>
	  			<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
	          <%= f.hidden_field :status, value: "totally_refunded" %>
	          <%= submit_tag "J'ai totalement remboursé le client" , class: "btn btn-secondary", data: {confirm: "Avez vous bien procédé au remboursement via Stripe" } %>
	        <% end %>
		    <% elsif @order.missing_item? %>
	  			<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
	          <%= f.hidden_field :status, value: "partially_refunded" %>
	          <%= submit_tag "J'ai partiellement remboursé le client" , class: "btn btn-secondary", data: {confirm: "Avez vous bien procédé au remboursement via Stripe" } %>
	        <% end %>
	        <% elsif @order.partially_refunded?  %>
					<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
		        <%= f.hidden_field :status, value: "finished" %>
		        <%= submit_tag "J'ai envoyé la commande" , class: "btn btn-secondary"%>
		      <% end %>
	     <% end %>
		
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col-12">
		<p>Commande passée le <%= l(@order.created_at, format: '%d %B %Y' )%></p>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Article</th>
				<th>Prix</th>
				<th>Qté</th>
				<th>Sous total</th>
			</tr>
		</thead>
		<tbody>
			<% @order.items.each do |item| %>
				<tr>
					<td>
						<%= link_to clients_product_path(item.variant.product) do  %>
							<%= image_tag(item.variant.product.attachments.first.url, class: "small_image") %>
						<% end %>
					</td>
					<td><%= number_to_currency_euro item.price %></td>
					<td>
						<p>Commandé: <%= item.quantity %></p>
						<% if @order.finished? %>
							<p>Livré: <%= item.quantity - item.missing_quantity %></p>
						<% end %>

						<% if item.missing_quantity > 0 %>
							<p>Manquant: <%= item.missing_quantity %></p>
							<p>Remboursé: <%= item.missing_quantity + (@order.return_asked ? item.returning_item.quantity  : 0 )%></p>
						<% end %>
						<% if item.selected == true %>
						 <p>Retourné: <%= item.returning_item.quantity %></p>
						<% end %>
					</td>
					<td><%= number_to_currency_euro item.price * item.quantity %></td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='3' align="left">
					Sous total
				</td>
				<td>
					<%= number_to_currency_euro @order.sub_total %>
				</td>
			</tr>
			<tr>
				<td colspan='3' align="left">
					Frais de port
				</td>
				<td>
				 5,00 €
				</td>
			</tr>
			<tr>
				<td colspan='3' align="left">
					Total
				</td>
				<td>
				 <%= number_to_currency_euro @order.sub_total + 5 %>
				</td>
			</tr>
		</tfoot>
	</table>
</div>