<div class="container">

	<h1 class="primary_title">COMMANDE N° <%= @order.number %> - <%= t("admin.orders.#{@order.status}") %></h1>
	<hr>

	<%= link_to " Retour à la liste des commandes", admin_orders_path, class: 'btn btn-main' %> 


	<div class="row">
		<div class="col-12 col-md-4">
			<div class="small_order_box">
				<p>ADRESSE DE LIVRAISON</p>
				<p><%= @order.user.full_name%></p>
				<p><%= @order.user.shipping_address.address_1%></p>
				<p><%= @order.user.shipping_address.address_2 %></p>
				<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
				<p><%= @order.user.shipping_address.phone %></p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="small_order_box">
				<p>ADRESSE DE FACTURATION</p>
				<% if @order.user.billing_address %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.billing_address.address_1 %></p>
					<p><%= @order.user.billing_address.address_2 %></p>
					<p><%= @order.user.billing_address.zipcode %> <%= @order.user.billing_address.city %></p>
					<p><%= @order.user.billing_address.phone %></p>
				<% else %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.shipping_address.address_1%></p>
					<p><%= @order.user.shipping_address.address_2 %></p>
					<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
					<p><%= @order.user.shipping_address.phone %></p>
				<% end %>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="small_order_box">
				Etat de la commande: 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
				<table class='table table'>
					<thead>
						<tr>
						<th></th>
						<th>Vérification</th>
						<th>Traitement</th>
						<th>Action</th>
						<th>Conclusion</th>
					</tr>
					</thead>
					<tbody>

							<tr>
								<td>✅</td>
								<td>
									Tout est dispo
								</td>
								<td>
									<% if @order.paid? %>
										<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
									  	<%= f.hidden_field :status, value: "confirmed" %>
									  	<%= submit_tag "Confirmer la prise en charge" , class: "btn btn-secondary",id: "prepare_order", data: {confirm: "Pense bien a revenir valider l'expédition une fois l'article envoyé" }%>
										<% end %>
									<% else %>
										Prise en charge confirmée
									<% end %>
								</td>
								<td>
									<% if @order.confirmed? %>
										<%= link_to "Créer le colissimo 📦", "https://www.laposte.fr/colissimo-en-ligne"  %>
									<% end %>
								</td>
								<td>
									<% if @order.confirmed? %>
										<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
					        		<%= f.hidden_field :status, value: "finished" %>
					        		<%= submit_tag "Commande expédiée" , class: "btn btn-secondary"%>
					        	<% end %>
					        <% elsif @order.finished? %>
					        	Expédié
									<% end %>
				        </td>
							</tr>


							<tr>
								<td>🙁</td>
								<td>
									Un manque ou plus 
								</td>
								<td>
									<% if @order.missing_item? || @order.all_is_missing?  %>
										Client prévenu
									<% else %>
										<%= link_to "Signaler article(s) manquants", admin_order_order_items_path(@order), class: "btn btn-secondary "%>
									<% end %>
	              </td>
								<td>
									<% if @order.missing_item? %>
										<%= link_to "Rembourser différence via Stripe", "https://dashboard.stripe.com/test/payments/#{@order.payment_id}" , class: "btn btn-secondary"%>
										<% else %>
										Rembourser différence via Stripe
									<% end %>
								</td>
								<td>
									<% if @order.all_is_missing? %>
										<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
					        		<%= f.hidden_field :status, value: "finished" %>
					        		<%= submit_tag "Commande expédiée" , class: "btn btn-secondary"%>
					        	<% end %>
					        <% else %>
					        Annulée / Expédié
				        	<% end %>
								</td>
							</tr>

					</tbody>
				</table>

		</div>
	</div>

	<div class="row">
		<div class="col-12">
		<p>Commande passée le <%= l(@order.created_at, format: '%d %B %Y' )%></p>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Article</th>
				<th>Prix</th>
				<th>Qté</th>
				<th>Sous total</th>
			</tr>
		</thead>
		<tbody>
			<% @order.items.each do |item| %>
				<tr>
					<td>
						<%= link_to clients_product_path(item.variant.product) do  %>
							<%= image_tag(item.variant.product.attachments.first.url, class: "small_image") %>
						<% end %>
					</td>
					<td><%= number_to_currency_euro item.price %></td>
					<td>
						<p>Commandé: <%= item.quantity %></p>
						<% if @order.finished? %>
							<p>Livré: <%= item.quantity - item.missing_quantity %></p>
						<% end %>

						<% if item.missing_quantity > 0 %>
							<p>Manquant: <%= item.missing_quantity %></p>
							<p>Remboursé: <%= item.missing_quantity + (@order.return_asked ? item.returning_item.quantity  : 0 )%></p>
						<% end %>
						<% if item.selected == true %>
						 <p>Retourné: <%= item.returning_item.quantity %></p>
						<% end %>
					</td>
					<td><%= number_to_currency_euro item.price * item.quantity %></td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='3' align="left">
					Sous total
				</td>
				<td>
					<%= number_to_currency_euro @order.sub_total %>
				</td>
			</tr>
			<tr>
				<td colspan='3' align="left">
					Frais de port
				</td>
				<td>
				 5,00 €
				</td>
			</tr>
			<tr>
				<td colspan='3' align="left">
					Total
				</td>
				<td>
				 <%= number_to_currency_euro @order.sub_total + 5 %>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
