<div class="container">

	<h1 class="primary_title">COMMANDE N° <%= @order.number %></h1>
	<hr>

	<%= link_to " Retour à la liste des commandes", admin_orders_path, class: 'btn btn-main' %> 

	<div class="row">
		<div class="col-12 col-md-4">
			<div class="small_order_box">
				<h5>ADRESSE DE LIVRAISON</h5>
				<hr>	
				<p><%= @order.user.full_name%></p>
				<p><%= @order.user.shipping_address.address_1%></p>
				<p><%= @order.user.shipping_address.address_2 %></p>
				<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
				<p><%= @order.user.shipping_address.phone %></p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="small_order_box">
				<h5>ADRESSE DE FACTURATION</h5>
				<hr>	
				<% if @order.user.billing_address %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.billing_address.address_1 %></p>
					<p><%= @order.user.billing_address.address_2 %></p>
					<p><%= @order.user.billing_address.zipcode %> <%= @order.user.billing_address.city %></p>
					<p><%= @order.user.billing_address.phone %></p>
				<% else %>
					<p><%= @order.user.full_name%></p>
					<p><%= @order.user.shipping_address.address_1%></p>
					<p><%= @order.user.shipping_address.address_2 %></p>
					<p><%= @order.user.shipping_address.zipcode %> <%= @order.user.shipping_address.city %></p>
					<p><%= @order.user.shipping_address.phone %></p>
				<% end %>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="small_order_box">
				<h5>Etat de la commande :</h5>
				<hr>	
				<p><%= t("admin.orders.#{@order.status}") %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class='table table'style="background-color: #111; color: #AAA;">
				<tbody>
					<% if all_items_are_available? %>
						<tr>
							<td><h1>✅</h1></td>
							<td>
								Tout est disponible
							</td>
							<td>
								<% if @order.paid? %>
									Prise en charge confirmée
								<% elsif @order.pending? %>
									<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
								  	<%= f.hidden_field :status, value: "confirmed" %>
								  	<%= submit_tag "Confirmer la prise en charge" , class: "c",id: "prepare_order", data: {confirm: "Pense bien a revenir valider l'expédition une fois l'article envoyé" }%>
									<% end %>
								<% end %>
							</td>
							<td>
								<% if @order.paid? || @order.confirmed? %>
									<%= link_to "Créer le colissimo 📦", "https://www.laposte.fr/colissimo-en-ligne", target: "blank_", class: "btn btn-secondary"  %>
								<% end %>
							</td>
							<td>
								<% if @order.paid? || @order.confirmed? %>
									<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
				        		<%= f.hidden_field :status, value: "full_shipped" %>
				        		<%= submit_tag "Commande expédiée" , class: "btn btn-secondary"%>
				        	<% end %>
				        <% elsif @order.full_shipped? %>
				        	Expédiée
								<% end %>
			        </td>
						</tr>
					<% end %>

					<% unless some_items_are_missing? %>
					  <tr>
							<td><h1>⚠️</h1></td>
							<td>
								Un manque ou plus 
							</td>
							<td>
								<% if @order.missing_item? %>
									Client prévenu
								<% elsif @order.partly_shipped? %>
									Encaissée en partie
								<% elsif @order.pending? %>
									<%= link_to "Signaler article(s) manquant(s)", admin_order_order_items_path(@order), class: "btn btn-secondary "%>
								<% end %>
              </td>
              <td>
              	<%= link_to "Créer le colissimo 📦", "https://www.laposte.fr/colissimo-en-ligne", target: "blank_"  %>
              </td>
							<td>
								<% if @order.partly_paid? %>
									<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
				        		<%= f.hidden_field :status, value: "partly_shipped" %>
				        		<%= submit_tag "Commande expédiée" , class: "btn btn-secondary"%>
				        	<% end %>
				       <% elsif @order.cancelled_by_admin? %>
				       	<p>Paiement non débité</p>
								<% end %>
							</td>
							<td>
							<% if @order.partly_shipped? %>
								Expédiée
							<% elsif @order.cancelled_by_admin? %>
								<p>Annulée</p>
							<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
		<p>Commande passée le <%= l(@order.created_at, format: '%d %B %Y' )%></p>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Article</th>
				<th>Ref</th>
				<th>Prix</th>
				<th>Qté</th>
				<th>Sous total</th>
			</tr>
		</thead>
		<tbody>
			<% @order.items.each do |item| %>
				<tr>
					<td>
						<%= link_to admin_product_path(item.variant.product) do  %>
							<%= image_tag(item.variant.product.attachments.first.url, class: "small_image") %>
						<% end %>
					</td>
					<td><%= item.variant.product.brand %> - <%= item.variant.product.title %> - <%= item.variant.product.color %> - Taille: <%= item.variant.size %></td>
					<td><%= number_to_currency_euro item.price %></td>
					<td>
						<p>Commandé: <%= item.quantity %></p>
						<% if @order.partly_shipped? %>
							<p>Livré: <%= item.quantity - item.missing_quantity %></p>
						<% end %>
						<% if item.missing_quantity > 0 &&  @order.partly_shipped? || @order.cancelled_by_admin? %>
							<p>Manquant: <%= item.missing_quantity %></p>
						<% end %>
						<% if item.selected == true %>
						 <p>Retourné: <%= item.returning_item.quantity %></p>
						<% end %>
					</td>
					<td>
						<p><%= number_to_currency_euro item.price * item.quantity %></p>
						<% if item.missing_quantity > 0 &&  @order.partly_shipped?  || @order.cancelled_by_admin? %>
							<p> - <%= number_to_currency_euro item.price * item.missing_quantity  %></p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='4' align="left">
					Sous total
				</td>
				<td>
					<%= number_to_currency_euro @order.sub_total %>
				</td>
			</tr>
			<tr>
				<td colspan='4' align="left">
					Frais de port
				</td>
				<td>
				<%= number_to_currency_euro  @order.shipping_fees %>
				</td>
			</tr>
			<tr>
				<td colspan='4' align="left">
					Total
				</td>
				<td>
				 <%= number_to_currency_euro @order.sub_total + @order.shipping_fees %>
				</td>
			</tr>
		</tfoot>
	</table>
</div>