<div class="container">

	<h1>Suivi de la commande N° FR-000<%= @order.id %></h1>
	<%= link_to " Retour à la liste des commandes", admin_orders_path, class: 'btn btn-warning' %> 
	<br><br>
	<hr>
	
	<div class="row">
		<div class="col-4">
			<p>Adresse de livraison</p>
				<%= @order.user.first_name %>  <%= @order.user.last_name %>
				<br>
				<%= @order.user.shipping_address.street_number %> <%= @order.user.shipping_address.route %>
				<br>
				<%= @order.user.shipping_address.postal_code %> <%= @order.user.shipping_address.locality %>
				<br>
				<%= @order.user.shipping_address.phone %>
				<br><br>
		</div>
		<div class="col-4">
				<% if @order.user.billing_address %>
				<p>Adresse de Facturation</p>
					<%= @order.user.billing_address.first_name %>  <%= @order.user.billing_address.last_name %>
					<br>
					<%= @order.user.billing_address.street_number %> <%= @order.user.billing_address.route %>
					<br>
					<%= @order.user.billing_address.postal_code %>  <%= @order.user.billing_address.locality %>
					<br>
					<%= @order.user.billing_address.phone %>
					<br><br>
				<% end %>
		</div>
		<div class="col-4">
			<% if @order.status == "paid" %>
				<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
				  <%= f.hidden_field :status, value: "confirmed" %>
				  <%= submit_tag "Je prépare la commande" , class: "btn btn-secondary", data: {confirm: "Pense bien a revenir valider l'expédition une fois l'article envoyé" }%>
				<% end %>
				<br><br>
				<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
				  <%= f.hidden_field :status, value: "cancelled" %>
				  <%= submit_tag "Arg... l'article est indisponible", data: {confirm: "Un email va pévenir le client que l'article est indisponible, voulez vous vraiment le marquer comme tel ?"}, class: "btn btn-danger"%>
				<% end %>
			<% elsif @order.status == "confirmed" %>
				<%= simple_form_for(@order, url: admin_order_path(@order) )do |f| %>
	        <%= f.hidden_field :status, value: "shipped" %>
	        <%= submit_tag "J'ai envoyé la commande" , class: "btn btn-secondary"%>
	      <% end %>
     <% end %>
		</div>
</div>
<br><br>
	<div class='row'>
		<div class="col-12">
			<h2>Articles commandés</h2>
			<hr>
			<div class="order_card">
				<div class="row header_order_card <%= "#{@order.status.downcase}_status" %>">
					<div class="col-4">
						<small>Commande passée le <%= l(@order.created_at, format: '%d %B %Y' )%></small>
					</div>
					<div class="col-4">
						<small>Total : <%= number_to_currency_euro @order.sub_total %> | </small>
						<small> Nombre d'articles: <%= @order.count_articles %></small>
					</div>
					<div class="col-2">
						<small>Commande: FR-000<%= @order.id %></small>
					</div>
					<div class="col-2">
						<small>Status: <%= t(".#{@order.status}") %></small>
					</div>
				</div>

				<% @order.items.each do |item| %>
					<div class="row body_order_card ">	
						<div class="col-2">
							<%= link_to clients_product_path(item.product) do  %>
								<%= image_tag(item.product.attachments.first.url) %>
							<% end %>
						</div>
					 	<div class="col-4">
					 		<p><%= item.quantity %>-<%= item.product.title %>, taille <%= item.size.size_name %></p>
					 		<p><%= number_to_currency_euro(item.product.price) %></p>
					 	</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
