<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 images_gallery">
			<div class="row">
				<div class="col-2">
					<% @product.attachments.each do |img| %>
							<%= image_tag( img.url, class: "small_image", alt: "Photo de #{@product.title}") %>
					<% end %>
				</div>
				<div class="col-10">
					<div id="big_image_show">
					<!-- Ici on affiche les images au hover avec le JS -->
					<%= image_tag(@product.attachments[0].url, class: "big_image") %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 description_background">
			<h1 class="category_title"><%= link_to @product.category.title, clients_category_path(@product.category) %></h1>
			<h1 class="title"><%= @product.title %></h1>
			<p>Prix : <%= number_to_currency_euro @product.price %></p>
			<p>Couleur: <%=  @product.color %></p>
			<% if @product.sizes.map(&:quantity).sum == 0 %>
				<p>Rupture de stock sur cet article</p>
			<% else %>
				<% if current_user %>
					<%= form_tag clients_order_items_path do %>
		        <%= hidden_field_tag :product_id, @product.id %>
		        <%= hidden_field_tag :user_id, current_user.id %>
		        <%= number_field_tag :quantity, 1 %>
		        <%= select_tag :size_id, options_from_collection_for_select(@product.sizes.where('quantity >=1'), :id, :size_name), selected: @product.sizes.where('quantity >=1').first %>
		        <%= submit_tag "Ajouter Au Panier", class: "btn btn-primary", id: "add_to_cart" %>
	    		<% end %>
				<% else %>
					<%= link_to "Ajouter", new_user_session_path(current_user), class: "btn btn-primary"  %>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-6 description_background">
			<div class="description_text">
				<p><span>Description :</span> <%= simple_format(@product.description) %></p>
			</div>
		</div>
		<div class="col-12 col-md-6" id="description_img">
			<%= image_tag(@product.attachments.last.url, class: "description_img") %>
		</div>
	</div>
	<br>
	<h1>Nos recommandations</h1>
	<div class="row">
		<% @products.where(category_id: @product.category_id).where.not(id: @product.id).each do |product| %>
		<%=  render "clients/shared/cards", product: product %>
		<% end %>
	</div>
</div>