<nav class="navbar navbar-expand-lg navbar-dark nav-upper-admin">
 <div class="container-fluid">
   <button class="navbar-toggler admin " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon admin"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <%= simple_form_for :query, url: admin_products_path, method: :get,  html: {class: "form-inline"} do |f| %>
       <%= f.input  :keyword, placeholder: "Rechercher", label: false, input_html: {class: "input-search-admin"} %>
       <%= button_tag type: 'submit', class: 'search-btn-nav-admin' do %>
         <i class="fa fa-search"></i>
       <% end %>
     <% end %>
   </div>

  <%= link_to "MarketWeb", admin_landing_path,  class: "navbar-brand mx-auto" %>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
      <% if current_user && current_user.admin? %>
      <li class= "nav-link">
        <div class="icon-wrapper">
          <%= link_to admin_basket_path do %>
            <i class="fa fa-shopping-bag"></i>  
          <% end %>
          <% if @current_basket.items_count > 0 %>
            <span id="items_count"><%= @current_basket.items_count %></span>
          <% end %>
        </div>
      </li>
      <% end %>
      <li class="nav-link" id="show-sidebar">Administration</li>
       <li class="nav-link" id="session">
          <%= link_to destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true } do %>
            <i class="fas fa-toggle-on"></i><i class="fas fa-toggle-off"></i> <%= current_user.first_name %>
          <% end %>
          <li class="nav-link">
            <%= link_to "Site Clients", clients_landing_path %>
          </li>
       </li>
     </ul>
   </div>
 </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark nav-gender-admin">
  <div class="container-fluid">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <% MainCategory.order('gender ASC').all.each do |main_cat| %>
        <li class="nav-link gender" data-gender="<%= main_cat.gender %>"><%= main_cat.gender %> 
          <div class="admin-categories" data-gender="<%= main_cat.gender %>">
            <ul class="navbar-nav">
               <% Category.where(main_category_id: main_cat.id).order('title ASC').each do |cat| %>
                 <% if cat.product_with_stock %>
                    <li class="nav-link"><%= link_to "#{cat.title}", admin_category_path(cat), class: "nav-link" %></li>  
                 <% end %>
               <% end %>
            </ul>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>



