<nav class="navbar navbar-expand-lg navbar-dark nav-upper-admin">
 <div class="container-fluid">
   <button class="navbar-toggler admin " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon admin"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <%= simple_form_for :query, url: admin_products_path, method: :get,  html: {class: "form-inline"} do |f| %>
       <%= f.input  :keyword, placeholder: "Rechercher", label: false, input_html: {class: "input-search-admin"} %>
       <%= button_tag type: 'submit', class: 'search-btn-nav-admin' do %>
         <i class="fa fa-search"></i>
       <% end %>
     <% end %>
   </div>

  <%= link_to "MarketWeb", admin_landing_path,  class: "navbar-brand mx-auto" %>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
      <% if current_user && current_user.admin? %>
      <li class= "nav-link">
        <div class="icon-wrapper">
          <%= link_to admin_basket_path do %>
            <i class="fa fa-shopping-bag"></i>  
          <% end %>
          <% if @current_basket.items_count > 0 %>
            <span id="items_count"><%= @current_basket.items_count %></span>
          <% end %>
        </div>
      </li>
      <% end %>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Gestion
         </a>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
           <%= link_to "Ajouter un article", new_admin_product_path, class: "dropdown-item" %>
           <%= link_to "Commandes",    admin_orders_path,            class: "dropdown-item" %>
           <%= link_to "Mes articles", admin_list_path,              class: "dropdown-item" %>
           <%= link_to "Journal",      admin_dashboard_journal_path, class: "dropdown-item" %>
           <%= link_to "Statistiques", admin_dashboard_path,         class: "dropdown-item" %>
         </div>
       </li>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          <% if current_user %>
            <%= current_user.first_name %>
          <% else %>
              Mon Compte
          <% end %>
          </a>
         <% if current_user %>
           <% if current_user.admin? %>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
               <%= link_to "Customization", clients_customization_path, class: "dropdown-item"  %>
               <%= link_to "Déconnection", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true },class: "dropdown-item" %>
             </div>
           <% end %>
        <% else %>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
             <%= link_to "S'identifier", new_user_session_path,      class: "dropdown-item"  %>
             <%= link_to "S'inscrire",   new_user_registration_path, class: "dropdown-item"  %>
           </div>           
         <% end %>
       </li>
       <% if current_user && current_user.admin? %>
        <li class="nav-link">
          <%= link_to "Site Clients", clients_landing_path %>
        </li>
       <% end %>
     </ul>
   </div>
 </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light nav-lower-admin">
  <div class="container-fluid">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <% Category.order('title ASC').all.each do |cat| %>
        <% if cat.products.any? %>
          <li class="nav-item"><%= link_to  "#{cat.title} ", admin_category_path(cat), class: "nav-link" %></li>
        <% end %>
       <% end %>
    </ul>
  </div>
</nav>

