 <div class="page-wrapper chiller-theme toggled reduced-menu" >
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-container">
        <div class="sidebar-brand">
          <div id="close-sidebar">
           <i class="fas fa-angle-left"></i>
          </div>
          <div id="show-sidebar">
           <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="sidebar-menu">
           <li class="dropdown-btn" id="orders">
              <i class="fas fa-cart-arrow-down"></i>
               <span class="menu-title">Commandes</span>
               <% if Order.where(status: "paid").count >= 1 %>
                 <span class="badge badge-pill badge-danger"><%#= Order.where(status: "paid").count %></span>
               <% end %>
           </li>
           <div class="dropdown-container">
           	<ul class="list list-unstyled">
    					<li><%= link_to "Commandes internet", admin_orders_path,  class: "drop-item" %></li>
    				</ul>
           </div>
            
           <li class="dropdown-btn" id="market">
              <i class="fas fa-truck"></i>
               <span class="menu-title">Marchés</span>
           </li>
           <div class="dropdown-container">
  					 <ul class="list list-unstyled">
  					 		<li><%= link_to "Ventes marchés", admin_sales_path,  class: "drop-item" %></li>
  					 </ul>
  					 
           </div>

            <li class="dropdown-btn" id="articles">
               <i class="fas fa-tshirt"></i>
                <span class="menu-title">Articles</span>
            </li>
            <div class="dropdown-container">
             <ul class="list list-unstyled">
             	 <li><%= link_to "Tous les articles",  admin_list_path , class: "drop-item" %></li>
             	 <li><%= link_to "Ajouter un article", new_admin_product_path, class: "drop-item" %></li>
             	<% unless @product.nil? || @product.new_record? %>
             	   <li><%= link_to "Ajouter stock",   stock_admin_product_path(@product), class: "drop-item" %></li>
             	   <li><%= link_to "Gestion du stock", admin_stocks_path,  class: "drop-item" %></li>
             	   <li><%= link_to "Modifier article", edit_admin_product_path(@product), class: "drop-item" %></li>
             	   <li><%= link_to "Créer étiquettes", new_admin_product_sticker_path(@product),  class: "drop-item" %></li>
             	   <% unless @sticker.nil? || @sticker.new_record? %>
             	     <li><%= link_to "Télécharger étiquettes", admin_product_sticker_path(@product, @sticker,format: "pdf"), class: "drop-item" %></li>
             	   <% end %>
             	<% end %>
             </ul>
            </div>

            <li class="dropdown-btn" id="suppliers">
              <i class="fas fa-address-book"></i>
              <span class="menu-title">Fournisseurs</span>
            </li>
            <div class="dropdown-container">
           	  <ul class="list list-unstyled">
	           	 	<li><%= link_to "Ajouter fournisseur", new_admin_supplier_path,  class: "drop-item" %></li>
	           	 	<li><%= link_to "Fournisseurs", admin_suppliers_path,  class: "drop-item" %></li>
    				 </ul>
           </div>

            <li class="dropdown-btn" id="users">
              <i class="fas fa-users"></i>
               <span class="menu-title">Utilistateurs</span>
            </li>
            <div class="dropdown-container">
	  					<ul class="list list-unstyled">
	  					 	<li> <%= link_to "Utilisateurs", "#",  class: "drop-item" %></li>
	  					</ul>
            </div>

	          <li class="dropdown-btn" id="stats">
	            <i class="fas fa-tachometer-alt"></i>
	             <span class="menu-title">Dashboard</span>
	          </li>
	          <div class="dropdown-container">
	  					<ul class="list list-unstyled">
	  					  <li><%= link_to "Journal", admin_dashboard_journal_path, class: "drop-item" %></li>
	  					   <li><%= link_to "Statistiques", admin_dashboard_path,  class: "drop-item" %></li>
	  					</ul>
	          </div>

	           <li class="dropdown-btn">
	             <%= link_to  clients_customization_path, class: "drop-item" do %>
	             <i class="fa fa-palette"></i> 
	              <span class="menu-title">Customisation</span>
	             <% end %>
	          </li>

     
        </div>

      </div>
    </nav>
  </div>


  <style>
  	/* Main content */
  	.main {
  	  margin-left: 200px; /* Same as the width of the sidebar */
  	  font-size: 20px; /* Increased text to enable scrolling */
  	  padding: 0px 10px;
  	}

  	/* Add an active class to the active dropdown button */
  	.active {
  	  background-color: orange;
  	  color: white;
  	}

  	.dropdown-btn {
  	  background-color: rgba(255, 255, 255, .2);
  	}

  	#mySidepanel {
  	  width: 180px;
  	}

  	.sidepanel  {
  	  height: 100%;
  	  width: 0;
  	  position: fixed;
  	  z-index: 999;
  	  top: 0;
  	  left: 0;
  	  background-color: #111;
  	  overflow-x: hidden;
  	  transition: 0.5s;
  	  padding-top: 42px;

  	.drop-item {
  	  background: #222;
  	  font-size: 14px;
  	  padding-left: 30px;
  	  color: #939393;
  	}
  	.dropdown-btn:hover, .drop-item:hover, .list-item:hover {
  	  background-color: orange;
  	}

  	.first-list {
  	  margin-top: 120px;
  	  color: orange;
  	}
  	}


  	.sidepanel a, .dropdown-btn {
  	  padding: 18px 8px 8px 22px;
  	  text-decoration: none;
  	  color: #818181;
  	  display: block;
  	  transition: 0.3s;
  	  border-bottom: 1px  solid #4C4C4C;
  	}

  	.sidepanel a:hover {
  	  color: #f1f1f1;
  	}


  	.closebtn {
  	  font-size: 30px;
  	  margin-left: 60px;
  	  margin-top: 20px;
  	  color: orange;
  	  cursor: pointer;
  	  background: transparent!important;
  	  border-color: transparent!important;
  	}

  	.openbtn {
  	  font-size: 20px;
  	  cursor: pointer;
  	  background-color: #111;
  	  color: white;
  	  padding: 10px 15px;
  	  border: none;
  	}


  	/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  	.dropdown-container {
  	  display: none;
  	  background-color: #111;
  	}

  	/* Optional: Style the caret down icon */
  	.fa-caret-down {
  	  float: right;
  	  padding-right: 8px;
  	}


  	/* Some media queries for responsiveness */
  	@media screen and (max-width: 992px)  {
  	 
  	 .openbtn {
  	  display: none;
  	 }
  	 #mySidepanel {
  	  display: none;
  	 }

  	}
  </style>