<div class="sidebar-header">

	<div class="user-pic">
	  <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
	    alt="User picture">
	</div>
	<div class="user-info">
	  <span class="user-name"><%= Company.instance.name %>
	  </span>
	  <span class="user-role">Admin</span>
	  <span class="user-status">
	    <i class="fa fa-circle"></i>
	    <span>En ligne</span>
	  </span>
	</div>
</div>

<div class="sidebar-search">
	<%= simple_form_for :query, url: admin_products_path, method: :get,  html: {class: "form-inline"} do |f| %>
	    <%= f.input  :keyword, placeholder: "Rechercher", label: false, input_html: {class: "input-search-admin"} %>
	    <%= button_tag type: 'submit', class: 'search-btn-nav-admin' do %>
	      <i class="fa fa-search"></i>
	    <% end %>
	  <% end %>
</div>

<div class="sidebar-menu">

	<ul class="list-unstyled components">

	  <li class="sidebar-dropdown">
	      <a href="#order" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
	   			<i class="fas fa-cart-arrow-down"></i>
	   			<span class="menu-title">Commandes</span>
	   			<% if Order.where(status: "paid").count >= 1 %>  
	   				<span class="badge badge-pill badge-danger"><%= Order.where(status: "paid").count %></span>
	   			<% end %>
	      </a>
	       <ul class="collapse list-unstyled submenu" id="order">
	           <li>
	              <%= link_to "Commandes internet", admin_orders_path,  class: "list-item" %>
	           </li>
	       </ul>
	   </li>

		<li class="sidebar-dropdown">
		  <a href="#market" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
		   <i class="fas fa-truck"></i>
		    <span class="menu-title">Marchés</span>
        <% if @current_basket.items_count > 0 %>
         
          <span class="badge badge-pill badge-danger"><%= @current_basket.items_count %></span>
        <% end %>
		  </a>
	    <ul class="collapse list-unstyled submenu <%= 'show' if active_submenu_for('sales') %>" id="market">
	      <li>
	        <%= link_to "Ventes marchés", admin_sales_path,  class: "list-item #{'active' if true}" %>
	      </li>

	     	<li>
	     		<%= link_to "Panier", admin_basket_path, class: "list-item"  %>
	     	</li>
	    </ul>
		</li>

		<li class="sidebar-dropdown">
		  <a href="#article" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
		   <i class="fas fa-tshirt"></i>
		    <span class="menu-title">Articles</span>
		  </a>
	   	<ul class="collapse list-unstyled submenu <%= 'show' if active_submenu_for('article') %>" id="article">
	      <li>
	        <%= link_to "Tous les articles",  admin_list_path , class: "drop-item" %>
	      </li>
	      <li>
	        <%= link_to "Ajouter un article", new_admin_product_path, class: "drop-item" %>
	      </li>
	      <% unless @product.nil? || @product.new_record? %>
	        <li>
	          <%= link_to "Ajouter stock",   stock_admin_product_path(@product), class: "drop-item" %>
	        </li>
	        <li>
	          <%= link_to "Gestion du stock", admin_stocks_path,  class: "drop-item" %>
	        </li>
	        <li>
	          <%= link_to "Modifier article", edit_admin_product_path(@product), class: "drop-item" %>
	        </li>
	        <li>
	          <%= link_to "Créer étiquettes", new_admin_product_sticker_path(@product),  class: "drop-item" %>
	        </li>
	          <% unless @sticker.nil? || @sticker.new_record? %>
	            <li>
	              <%= link_to "Télécharger étiquettes", admin_product_sticker_path(@product, @sticker,format: "pdf"), class: "drop-item" %>
	            </li>
	        <% end %>
	      <% end %>
	    </ul>
		</li>

		<li class="sidebar-dropdown">
		  <a href="#suppliers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
		    <i class="fas fa-address-book"></i>
		    <span class="menu-title">Fournisseurs</span>
		  </a>
		    <ul class="collapse list-unstyled submenu" id="suppliers">
		      <li>
		        <%= link_to "Ajouter fournisseur", new_admin_supplier_path,  class: "drop-item" %>
		      </li>
		      <li>
		        <%= link_to "Fournisseurs", admin_suppliers_path,  class: "drop-item" %>
		      </li>
		    </ul>
		</li>

		<li class="sidebar-dropdown">
		  <a href="#users" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
		    <i class="fas fa-users"></i>
		    <span class="menu-title">Utilisateurs</span>
		  </a>
		  <ul class="collapse list-unstyled submenu" id="users">
	      <li>
	        <%= link_to "Utilisateurs", "#",  class: "list-item" %>
	      </li>
	    </ul>
		</li>
		
		<% if FeatureSwitch.enabled?(:stats) %>
			<li class="sidebar-dropdown">
			 <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
			    <i class="fa fa-tachometer-alt"></i>
			    <span class="menu-title">Dashboard</span>
			  </a>
			 	<ul class="collapse list-unstyled submenu" id="dashboard">
		      <li>
		        <%= link_to "Journal", admin_dashboard_journal_path, class: "drop-item" %>
		      </li>
		      <li>
		        <%= link_to "Statistiques", admin_dashboard_path,  class: "drop-item" %>
		      </li>
		    </ul>
			</li>
		<% end %>
			<li>
			   <%= link_to  admin_returnings_path, class: "list-item" do %>
			   <i class="fa fa-undo"></i> 
			    <span class="menu-title">Retours articles</span>
			    <% if Returning.where(status: "pending").count >= 1 %>  
			    	<span class="badge badge-pill badge-danger"><%=Returning.where(status: "pending").count  %></span>
			    <% end %>
			   <% end %>
			</li>

		<li>
		   <%= link_to  clients_customization_path, class: "list-item" do %>
		   <i class="fa fa-palette"></i> 
		    <span class="menu-title">Customisation</span>
		   <% end %>
		</li>
	</ul>
</div>

<div class="sidebar-footer">
	<ul class=" list-unstyled ">
		<li>
		   <%= link_to  clients_landing_path, class: "list-item" do %>
		  <i class="fas fa-exchange-alt"></i>
		    <span class="menu-title">Switch Clients</span>
		   <% end %>
		</li>
	</ul>

</div>