<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400" rel="stylesheet">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
   
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/admin/admin_nav" %>
    <%= render "layouts/shared/flashes" %> 
    <%= render "layouts/shared/back_button" %>  



    <div class="wrapper">
      <nav id="sidebar">
        <%= render "layouts/admin/menu" %>
      </nav>
      
      <div id="content">
        <%= yield %>
      </div>
     
      
    </div>

    <!-- !!!!!! Il faut laisser les javascript_tags sous le yield si non probleme de react--> 
    <%= javascript_pack_tag 'application' %> <!-- doit etre en dessous de turbolink -->
  </body>
</html>