<div class="container">
	<h1 class="title">Bienvenue <%= @user.first_name %></h1>
	<hr>

	<div class="row">
		<div class="col-4">
			<%= render "addresses" %>	
		</div>
		<div class="col-4">
			<%= link_to user_orders_path(current_user) do   %>
				<%= render "orders" %>
			<% end %>
		</div>
		<div class="col-4">
			<%= render "messages" %>
		</div>
	</div>



</div>