<h2>Bonjour <%= @order.user.first_name %></h2>
<p>
  Nous avons bien reçu votre commande pour:
</p>


<% @order.items.each do |item| %>
	<%= item.size.sizeable.brand %> - <%= item.size.size_name  %> - <%= item.quantity %> 
<% end %>

<p>Voir votre <%= link_to "Commande", clients_orders_url %></p>

<p>Livraison estimée entre <%= l(@order.delivery_date_1,  format: '%d %B %Y' ) %> et <%= l(@order.delivery_date_2, format: '%d %B %Y') %></p>

