<div class="container" data-turbolinks="false">

	<div class="row">
		<div class="col-12 col-md-3">
			<%= simple_form_for :query, url: admin_stocks_url, method: :get,  html: {class: "form-inline"} do |f| %>
			  <%= f.input  :keyword, placeholder: "Rechercher", label: false, input_html: {class: "input-search"} %>
			  <%= button_tag type: 'submit', class: 'search-btn-nav-admin' do %>
			    <i class="fa fa-search"></i>
			  <% end %>
			<% end %>
		</div>
		<div class="col-12 col-md-3">
			<%= link_to "Raffraichir", admin_stocks_path, class: "btn btn-main"  %>	
		</div>
	</div>


	<br>

	<table class="table table">
		<thead>
			<tr>
				<th></th>
				<th>Mise à jour le</th>
				<th>Article</th>
				<th>Marque</th>
				<th>Variante</th>
				<th>Stock initial</th>
				<th>Srock restant</th>
				<th>Fournisseur</th>
				<th>Prix achat unitaire</th>
			</tr>
		</thead>

		<tbody id="stocks">

			<%= render partial: "stocks" %>
			
		</tbody>
	</table>
	<%= will_paginate @stocks %>
</div>


<style>
	.first-stock {
		background: lightgray;
	}
</style>