<div class="container">
	<h3>REMPLISSEZ VOTRE ADRESSE DE FACTURATION</h3>
	<hr>
	<br>
	<div class="row">
		<div class="col-12">
			<%= simple_form_for(@billing_address, url: clients_billing_addresses_path) do |f| %>
				<div class="row">
					<div class="col-12 col-md-6">
						<%= f.input :first_name, label: false, placeholder: current_user.first_name, input_html: {value: current_user.first_name}, required: true %>
					</div>
					<div class="col-12 col-md-6">
						<%= f.input :last_name, label: false, placeholder: current_user.last_name,input_html: { value: current_user.last_name}, required: true %>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-12">
						<%= f.input :address_1, label: false,	placeholder: "Adresse",	required: true %>	
					</div>
					<div class="col-12">
						<%= f.input :address_2, label: false,	placeholder: "Complément d'adresse" %>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-3">
							<%= f.input :zipcode, label: false, placeholder: "Code Postal", required: true  %>
					</div>
					<div class="col-12 col-md-9">
							<%= f.input :city, label: false,	placeholder: "Ville", required: true  %>
					</div>

				</div>
				<br><br>
				<%= f.submit "Valider", class: "btn-main btn-block" %>
			<% end %>
		</div>
	</div>
</div>