<div class="row">
	<div class="col-10 offset-1">
		<h1 class="title">Les <%= @category.title %></h1>
			<br>
		<div class="row">
			<% @category.products.each do |product| %>
	
					<%= link_to admin_product_path(product)  do %>
					<div class="card">
						<div class="header_card">
							<div class="row">
								<div class="col-12">
									<%= image_tag(product.attachments.first.url, class: 'product_suggestion') %>
								</div>
							</div>
						</div>
						<div class="footer_card">
							<div class="row">
								<div class="col-6">
									<small><%= product.title %></small>
								</div>
								<div class="col-6">
									<small><%= product.price %></small>
								</div>
							</div>
						</div>
					</div>
					<% end %>
		
			<% end %>
		</div>
	</div>
</div>

