<div class="row">
	<div class="col-10 offset-1">
		<h1 class="title">Les <%= @category.title %></h1>
			<br>
		<div class="row">
			<% @category.products.each do |product| %>
	
					<%= link_to admin_product_path(product)  do %>
					<div class="card">
						<div class="header_card">
							<div class="row">
								<div class="col-12">
									<div id="carousel_<%= product.id%>" class="carousel slide" data-ride="carousel" data-interval="false">
									  <div class="carousel-inner">
										  <% product.attachments.each do |img| %>
									  	  <div class="carousel-item <%= 'active' if img == product.attachments[0] %>">  
									  	  	<%= image_tag img.url,  class: "product_suggestion"  %>								  	    
									  	  </div>
											<% end %>
									  </div>
									  <a class="carousel-control-prev" href="#carousel_<%= product.id%>" role="button" data-slide="prev">
									    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="carousel-control-next" href="#carousel_<%= product.id%>" role="button" data-slide="next">
									    <span class="carousel-control-next-icon" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
									</div>
								</div>
							</div>
						</div>
						<div class="footer_card">
							<div class="row">
								<div class="col-6">
									<small><%= product.title %></small>
								</div>
								<div class="col-6">
									<small><%= product.price_cents %></small>
								</div>
							</div>
						</div>
					</div>
					<% end %>
			<% end %>
		</div>
	</div>
</div>

