<div class="content" style="margin: 20px 50px 50px 50px;">
	<br>
	<br>
	<div class="row">
		<div class="col-12">
			<h1 class="primary_title"><%= @product.title.upcase %> - <%= @product.color.upcase %></h1>
			<hr>
			<%= simple_form_for(@product, url: admin_product_path(@product)) do |f| %>		
				<div class="row">
					<div class="col-12 <%= 'error_message' if @product.errors.full_messages.any? %> ">

					<% if  @product.errors.any? %>
						<% @product.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					<% end %>
					</div>
				</div>
		
			<div class="row">
				<div class="col-12 col-md-6">
					<h3>MODIFIER LA DESCRIPTION</h3>
					<hr>
					<br>
					<div class="row">
						<div class="co-12 col-md-4">
							<%= f.input :category_id, as: :grouped_select, collection: MainCategory.all, group_method: :categories, group_label_method: :gender, input_html: { class: "custom-select"}, label: false, prompt: "Choisir une catégorie" %>
						</div>
						<div class="co-12 col-md-4">
							<%= f.input :brand, placeholder: "Marque", label: false, required: true %>
						</div>
						<div class="co-12 col-md-4">
							<%= f.input :title, placeholder: "Titre", label: false, required: true %>
						</div>
					</div>

					<div class="row">
						<div class="co-12 col-md-4">
							<%= f.input :weight, placeholder: "Poids", label: false, required: true %>
						</div>
						<div class="co-12 col-md-4">
							<%= f.input :color, placeholder: "Couleur", label: false, required: true %>
						</div>
						<div class="co-12 col-md-4">
							<%= f.input :ref, placeholder: "Référence", label: false, required: true %>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<%= f.input :description, as: :summernote, label: false, required: true %>
							<%= f.input :supplier_id, collection: Supplier.all.collect {|p| [ p.company, p.id ] }, label: false, prompt: "Fournisseur", input_html: { class: "custom-select"}, required: true  %>
						</div>
					</div>
					<div class="row">
						<div class="co-12 col-md-6">
							<%= f.input :buying_price, placeholder: "Prix d'achat (important pour la comptat)", label: false, required: true %>
						</div>
						<div class="co-12 col-md-6">
							<%= f.input :price, placeholder: "Prix de vente", label: false, required: true %>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-12" id="discount_percentage">
							<%= f.input :discount_percentage, label: false, placeholder: "Appliquer un pourcentage" %>
						</div>
					</div>
						
				<br>
				<br>
				<br>
					<h3>LES IMAGES</h3>
					<hr>
					<br>
					<div class="row">
						<div class="col-16 col-md-4">
							<% if @product.attachments.size >= 4 %>
								<button type="button" class="btn btn-main add-pic-modal" disabled >
								 Ajouter des images
								</button>
								<% else %>
								<button type="button" class="btn btn-main add-pic-modal" data-toggle="modal" data-target="#addpicmodal">
								 Ajouter des images
								</button>
							<% end %>
						</div>
						<div class="col-12 col-md-8">
							<% @product.attachments.each_with_index do | product, index| %>
								<%= image_tag product.url, class: "tiny_image" %>
								<% unless @product.attachments.index(@product.attachments.last) == 0 %>
									<%= link_to admin_product_attachment_path(@product, index), method: :delete, data: { confirm: "La suppression de l'image est irreversible?" }, class: "delete_img_link"  do %>
										<i class="fa fa-trash trash"></i>
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
					<br>
					<br>
						
				</div>
				<div class="col-12 col-md-5 offset-md-1">
					<h3>AJOUTER DES VARIANTES</h3>
					<hr>
			 		<div class="row">
			 			<div class="col-12">
				 			<div id="variants">
				 			  <%= f.simple_fields_for :variants do |variant| %>
				 		      <%= render "variant_fields", f: variant %>
				 		    <% end %>
				 		   	<div class="links">
				 		     	<%= link_to_add_association "Ajouter une autre variante", f, :variants, partial: "variant_fields", class: "btn btn-secondary btn-block" %>
				 		   	</div>
				 			</div>
			 			</div>
			 		</div>
			 		<br><br>
				</div>
			</div>
				<%= f.submit "Mettre à jour l'article", class: "btn btn-main btn-lg btn-block" %>
			<% end %>
		</div>
	</div>

</div>
<%= render "modal_add_pic" %>
