<div class="container">
	<h1 class="primary_title manage_stock_title">GESTION DU STOCK</h1>
	<hr class="manage_stock_title">
	<div class="links_desktop">
		<%= link_to "Liste bureau", admin_desktop_path, class: " btn btn-success"  %>
		<%= link_to "Voir en tant que clients", clients_products_path , class: "btn btn-warning" %>
	</div>
	<% @products.each do |product| %>
		<%product.sizes.each do |size| %>
			<div class="destock_card">
				<div class="row">
					<div class="col-12 header_destock_card">
						<div class="row">
							<div class="col-12 col-md-6">
								<%= size.product.title %> - <%= size.product.brand %> - <%= size.product.ref %>
							</div>
							<div class="col-12 col-md-6">
								<%= size.product.color %> - <span class="size_name"><%= size.size_name.upcase %></span>
							</div>
						</div>
					<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<%= image_tag(size.product.attachments.first.url, class: "small_image") %>
					</div>
					<div class="col-4 offset-1">
						<p>Stock : <%= size.quantity %></p>	
						<p><%= number_to_currency_euro (size.product.price_cents) %></p>
					</div>

					<div class="col-5">
						<%= link_to  increase_admin_size_path(id: size.id), class:"btn btn-success btn-block btn-lg" do  %>
							<span>Remettre</span><br>
							<span>en Stock</span>
						<% end %>

						<%= link_to  decrease_admin_size_path(id: size.id), class:"btn btn-danger btn-block btn-lg" do  %>
							<span>Enelver</span><br>
							<span>du Stock</span>
						<% end %>		
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>