<div class="container">
	<h1>Gestion du stock</h1>
	<hr>
	<div class="links_desktop">
		<%= link_to "Liste bureau", admin_desktop_path, class: " btn btn-success"  %>
		<%= link_to "Voir en tant que clients", clients_products_path , class: "btn btn-warning" %>
	</div>
	<% @products.each do |product| %>
		<%product.sizes.each do |size| %>
			<div class="destock_card">
				<div class="row">
					<div class="d-none d-md-block col-md-2">
					<%= link_to admin_product_path(size.product), class: "btn btn-success"  do %>
					<i class="fa fa-eye icon_tab"></i>
					<% end %>
					<%= link_to edit_admin_product_path(size.product), class: "btn btn-primary"  do  %>
					<i class="fa fa-edit icon_tab"></i>
					<% end %>
					</div>
					<div class="col-10 header_destock_card">
					<p><%= size.product.title %> - <span class="size_name"><%= size.size_name.upcase %></span></p>
					<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<%= image_tag(size.product.attachments.first.url, class: "small_image") %>
					</div>
					<div class="col-4 offset-1">
						<p><%= size.product.brand %> </p>
						<p>Stock : <%= size.quantity %></p>	
						<p>Prix: <%= number_to_currency_euro (size.product.price_cents)/1000 %></p>
					</div>

					<div class="col-5">
						<%= link_to  increase_admin_size_path(id: size.id), class:"btn btn-success btn-block btn-lg" do  %>
							<span>Remettre</span><br>
							<span>en Stock</span>
						<% end %>

						<%= link_to  decrease_admin_size_path(id: size.id), class:"btn btn-danger btn-block btn-lg" do  %>
							<span>Enelver</span><br>
							<span>du Stock</span>
						<% end %>		
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>