<div class="container">
	<h1 class="primary_title manage_stock_title">GESTION DU STOCK</h1>
	<hr class="manage_stock_title">
	<div class="links_desktop">
		<%= link_to "Liste bureau", admin_desktop_path, class: "btn btn-main"  %>
	</div>

	<% @products.each do |product| %>
		<%= link_to admin_product_path(product), class: "card_link" do  %>	
			<div class="vending_card">
				<div class="row">
					<div class="col-3">
					<%= image_tag(product.attachments.first.url, class: "small_image") %>
					</div>
					<div class="offset-1 col-8">
						<div class="row">
							<div class="col-12">
								<span class="product_title"><%= product.title %></span>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<span class=brand><%= product.brand %></span> - <span clas="ref"><%= product.ref %>	</span>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<span class="price"><%= number_to_currency_euro (product.price) %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>