<div class="container">
	<h1>Gestion du stock</h1>
	<%= link_to "Voir en tant que clients", clients_products_path , class: "btn btn-warning" %>
	<br><br>
	<div class="admin_panel">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Voir</th>
					<th>Edit</th>
					<th>Category</th>
					<th>Marque</th>
					<th>Ref</th>
					<th>Prix de vente</th>
					<th>Tailles</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				<% Size.sort_by_category.each do |size| %>
					<tr class="<%= "quantity_zero" if size.quantity < 1 %>">
						<td>
							<%= link_to admin_product_path(size.product)  do %>
								<i class="fa fa-eye icon_tab"></i>
							<% end %>
						</td>
						<td>
							<%= link_to edit_admin_product_path(size.product) do  %>
							<i class="fa fa-edit icon_tab"></i>
							<% end %>
						</td>
						<td><%= size.product.category.title %></td>
						<td><%= size.product.brand %></td>
						<td><%= size.product.title %></td>
						<td><%= number_to_currency_euro(size.product.price_cents) %></td>
						<td><%= size.size_name %></td>
						<td><%= size.quantity %></td>
					</tr>
				<% end %>
			</tbody>
	</table>
</div>
</div>