<div class="container">
	<h1 class="primary_title manage_stock_title">ARTICLES</h1>
	<hr>
	<br><br>

	<%= simple_form_for :query, url: admin_list_url, method: :get,  html: {class: "form-inline"} do |f| %>
	  <%= f.input  :keyword, placeholder: "Rechercher", label: false, input_html: {class: "search-article"} %>
	  <%= button_tag type: 'submit', class: 'search-btn-nav-admin' do %>
	    <i class="fa fa-search"></i>
	  <% end %>
	<% end %>
	<br>
	<div id="articles-table">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Image</th>
					<th>Nom</th>
					<th>Marque</th>
					<th>Ref</th>
					<th>Prix</th>
					<th>Voir</th>
					<th>Edition</th>
					<th>Stock</th>
					<th>Etiquettes</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
				<tr>
					<td><%= image_tag(product.attachments.first.url, class: "list_images") %></td>
					<td><%= product.title %></td>
					<td><%= product.brand %></td>
					<td><%= product.ref %></td>
					<td><%= number_to_currency_euro (product.price) %></td>
					<td><%= link_to admin_product_path(product), class: "btn btn-watch " do %>
						<i class="fa fa-eye"></i>
					<% end %>
					</td>
					<td><%= link_to edit_admin_product_path(product), class: "btn btn-edit " do  %>
						<i class="fas fa-edit"></i>
					<% end %>
					</td>
					<td><%= link_to stock_admin_product_path(product), class: "btn btn-add "   do %>
						<i class="fa fa-plus-square"></i>
					<% end %>
					</td>
					<td><%= link_to new_admin_product_sticker_path(product), class: "btn btn-sticker " do  %>
					<i class="fas fa-sticky-note"></i>
					<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>