<div class="container">
	<div class="qr_code">
		<% @categories.each do |category| %>
		 	<% if category.products.length >= 1 %>
				<h1><%= category.title %></h1>
				<hr>
				<div class="row">
					<br>
					<% category.products.each do|product| %>
						<div class="col-4">
							<li><%= product.brand %></li>
							<li><%= product.title %></li>
							<li><%= product.color %></li>
							<li><%= number_to_currency_euro product.price %></li>
							<%= render_qr_code("https://lapenderie-staging.herokuapp.com/admin/products/#{@sticker.product.slug}") %>	
						</div>
					<% end %>
				</div>		
			<% end %>
		<% end %>
	</div>
</div>