<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} | #{@product.brand}-#{@product.title}-#{@product.color}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, image_url(@product.attachments.first.url) %>

<div class="container">

		<div class="row">
			<div class="d-none d-md-block col-md-10">
			<p><%= link_to @product.category.title, admin_categories_path(@product.category) %> / <%= @product.title %> - <%= @product.brand %></p>
			<br>
			</div>
		</div>

		<div class="row">
		<div class="col-12 col-md-8 images_gallery ">
			<div class="row">
				<div class="col-2 offset-1 d-none d-md-block">
					<% @product.attachments.each do |img| %>
						<%= image_tag( img.url, class: "small_image", alt: "Photo de #{@product.title}") %>
					<% end %>
				</div>
				<div class="col-8 d-none d-md-block  ">
					<div id="big_image_show">
						<!-- big_images est généré dans le JS  Ici on affiche les images au hover avec le JS -->
						<%= image_tag(@product.attachments[0].url, class: "big_image") %>
					</div>
				</div>
			</div>
		</div>
			<div class="col-12 col-md-4">
				<br>
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-3 d-block d-md-none">
								<%= image_tag(@product.attachments[0].url, class: "small_image") %>
							</div>
							<div class="col-9">
								<h1 class="primary_title"><%= @product.title.capitalize %></h1>
								<h1 class="primary_title"><%= @product.brand.capitalize %></h1>
								<% if @product.discount_percentage > 0 %>
									<div class="row">
										<div class="col-6">
											<small>Prix de départ</small>
											<h4 class="old_product_price"><%= number_to_currency_euro @product.price %></h4>
										</div>
										<div class="col-6">
											<small>Promo</small>
											<h4 class="price_outlet"><%= number_to_currency_euro @product.discounted_price %> </h4>
										</div>
									</div>
								<% else %> 
									<small>Prix de départ</small>
									<h4 class="product_price"><%= number_to_currency_euro @product.price %></h4>
								<% end %>
								<p>Couleur: <%=  @product.color %></p>
							</div>
						</div>
						<%= form_tag admin_sale_items_path , input_html: {id: "salesform"} do %>
							<%= hidden_field_tag :product_id, @product.id %>
							<%= hidden_field_tag :user_id, @token %>
							<%= hidden_field_tag :quantity, 1 %>
							<div class="row">
								<div class="col-12">
									<% if @product_size_options.count == 1 %>
										
										<%= select_tag :variant_id, options_from_collection_for_select(@product_size_options, :id, :size_and_color), selected: @product_size_options.last, class: 'custom-select variant', id: "variant-select", required: true %>
										<% else %>
										<%= select_tag :variant_id, options_from_collection_for_select(@product_size_options, :id, :size_and_color), prompt: "Taille", class: 'custom-select variant', id: "variant-select", required: true %>
									<% end %>
								
									
									<br><br>
									<%= submit_tag "Ajouter Au Panier", class: "btn-main btn-block", id: "add_to_basket" %>
								</div>
							</div>
						<% end %>
					</div>
					<div class="row">
						<div class="col-12 d-none d-md-block">
							<br><br>
							<h2 class="secondary_title"> AUTRES COLORIS</h2>
							<hr>
							<% Product.where(ref: @product.ref).each do |product| %>
								<% current_image = (product.color == @product.color) ? "current_color small_image" : "small_image" %> 
								<%= link_to admin_product_path(product) do   %>
									<%= image_tag( product.attachments.first.url, class: "#{current_image}", alt: "Photo de #{@product.title}") %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div class="row">
		<div class="col-10 offset-1 d-none d-md-block">
			<div class="description_text">
			<p><span>Description :</span> <%= raw @product.description %></p>
			</div>
		</div>
	</div>
</div>