<div class="container">
	<div class="row">
		<div class="d-none d-md-block">
			<%= link_to "Edit", edit_admin_product_path, data: { turbolinks: false }, class: "btn btn-warning edit_product" %>
			<%= link_to "Supprimer", admin_product_path(@product), method: :delete, data: {confirm: "La supression de cet article est irreversible"}, class:" btn btn-danger delete_product" %>
			<hr>
		</div>
	</div>
		<%= render_qr_code("https://super-shop-staging.herokuapp.com/admin/products/#{@product.id}") %>
		<%#= image_tag @product.qr_code %>
		<div class="row">
			<div class="d-none d-md-block col-md-8 offset-2">
			<p><%= link_to @product.category.title, admin_categories_path(@product.category) %> / <%= @product.title %> - <%= @product.brand %></p>
			<br>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-8 images_gallery ">
				<div class="row">
					<div class="offset-2 col-1 d-none d-md-block">
						<% @product.attachments.each do |img| %>
							<%= image_tag( img.url, class: "small_image", alt: "Photo de #{@product.title}") %>
						<% end %>
					</div>
					<div class="col-8 d-none d-md-block  ">
						<div id="big_image_show">
							<!-- big_images est généré dans le JS  Ici on affiche les images au hover avec le JS -->
							<%= image_tag(@product.attachments[0].url, class: "big_image") %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<br>
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-3 d-block d-md-none">
								<%= image_tag(@product.attachments[0].url, class: "small_image") %>
							</div>
						<div class="col-9">
							<h1 class="primary_title"><%= @product.title.capitalize %></h1>
							<h1 class="primary_title"><%= @product.brand.capitalize %></h1>
							<h4><%= number_to_currency_euro @product.price %></h4>
							<p>Couleur: <%=  @product.color %></p>
						</div>
					</div>
					<% if @product.sizes.map(&:quantity).sum == 0 %>
						<p>Rupture de stock sur cet article</p>
					<% else %>
						<%= form_tag admin_sale_items_path , input_html: {id: "salesform"} do %>
							<%= hidden_field_tag :product_id, @product.id %>
							<%= hidden_field_tag :user_id, @token %>
							<%= hidden_field_tag :quantity, 1 %>
							<div class="row">
								<div class="col-12">
									<%= select_tag :size_id, options_from_collection_for_select(@product_size_options, :id, :size_name), prompt: "Taille", class: ' custom-select', required: true %>
									<br><br>
									<%= submit_tag "Ajouter Au Panier", class: "btn-main btn-block", id: "add_to_basket" %>
								</div>
							</div>
						<% end %>
					<% end %>
					</div>
					<div class="row">
						<div class="col-12 d-none d-md-block">
							<br><br>
							<h2 class="secondary_title"> AUTRES COLORIS</h2>
							<hr>
							<% Product.where(ref: @product.ref).each do |product| %>
								<% current_image = (product.color == @product.color) ? "current_color small_image" : "small_image" %> 
								<%= link_to admin_product_path(product) do   %>
									<%= image_tag( product.attachments.first.url, class: "#{current_image}", alt: "Photo de #{@product.title}") %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div class="row">
		<div class="col-10 offset-1 d-none d-md-block">
			<div class="description_text">
			<p><span>Description :</span> <%= simple_format(@product.description) %></p>
			</div>
		</div>
	</div>
</div>