<div class="container">
	<div class="row">
		<div class="col-12">
			<%= link_to "Edit", edit_admin_product_path, class: "btn btn-warning edit_product" %>
			<%= link_to "Supprimer", admin_product_path(@product), method: :delete, data: {confirm: "La supression de cet article est irreversible"}, class:" btn btn-danger delete_product" %>
			<hr>
		</div>
	</div>

		<div class="row">
			<div class="col-12 col-md-8 offset-2">
			<p><%= link_to @product.category.title, clients_categories_path(@product.category) %> / <%= @product.title %> - <%= @product.brand %></p>
			<br>
			</div>
		</div>

		<div class="row">

			<div class="col-12 col-md-8 images_gallery">
				<div class="row">
					<div class="offset-2 col-1">
						<% @product.attachments.each do |img| %>
							<%= image_tag( img.url, class: "small_image", alt: "Photo de #{@product.title}") %>
						<% end %>
					</div>
					<div class="col-8">
						<div id="big_image_show">
							<!-- big_images est généré dans le JS  Ici on affiche les images au hover avec le JS -->
							<%= image_tag(@product.attachments[0].url, class: "big_image") %>
						</div>
					</div>
				</div>
			</div>

		<div class="col-12 col-md-4">
			<br>
			<div class="row">
				<div class="col-10">
					<h1 class="primary_title"><%= @product.title.capitalize %> - <%= @product.brand.capitalize %></h1>
					<h4><%= number_to_currency_euro @product.price_cents %></h4>
					<p>Couleur: <%=  @product.color %></p>
						<% if @product.sizes.map(&:quantity).sum == 0 %>
							<p>Rupture de stock sur cet article</p>
						<% else %>
							<%= form_tag clients_order_items_path do %>
							<%= hidden_field_tag :product_id, @product.id %>
							<%= hidden_field_tag :user_id, @token %>
							<%= hidden_field_tag :quantity, 1 %>

							<div class="row">
								<div class="col-8">
									<%= select_tag :size_id, options_from_collection_for_select(@product.sizes.where('quantity >=1'), :id, :size_name), prompt: "Votre taille", class: ' custom-select'%>
									<br><br>
									<%= submit_tag "Ajouter Au Panier", class: "btn-main", id: "add_to_cart" %>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<div class="favorites" id="header_box_<%= @product.id %>">
										<br>
										<% if @product.favoriting_users.include? current_user %>
											<div id="unlike_<%= @product.id %>">
												<% fav = @product.favorites.find { |fav| fav.user_id == current_user.id} %>
												<%#= link_to clients_favorites_path do %>
													<i class= "fa fa-heart favorite-active"></i> 
												<%# end %>	
											</div>	
										<% else %>
											<div id="like_<%= @product.id %>">
												<%= link_to clients_product_favorites_path(@product), method: :post, remote: true, class: 'btn-secondary'  do %>
													Ajouter a mes favoris <i class= "fa fa-heart"></i>
												<% end %>
											</div>
										<% end %>	
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>


			<div class="row">
				<div class="col-12">
					<br><br>
					<h2 class="secondary_title"> AUTRES COLORIS</h2>
					<hr>
					<% Product.where(ref: @product.ref).each do |product| %>
						<% current_image = (product.color == @product.color) ? "current_color small_image" : "small_image" %> 
						<%= link_to clients_product_path(product) do   %>
							<%= image_tag( product.attachments.first.url, class: "#{current_image}", alt: "Photo de #{@product.title}") %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-10 offset-1">
			<div class="description_text">
			<p><span>Description :</span> <%= simple_format(@product.description) %></p>
			</div>
		</div>
	</div>
	<br><br>
	<h1>Nos recommandations</h1>
	<hr>
	<div class="row">
		<% @products.where(category_id: @product.category_id).where.not(id: @product.id).each do |product| %>
			<div class="col-6  col-md-4 col-lg-3">
				<%=  render "clients/shared/cards", product: product %>
			</div>
		<% end %>
	</div>
</div>