<div class="container">
	<div class="row">
		<div class="col-12">
			<%= simple_form_for(@shipping_address, url: clients_shipping_addresses_path) do |f| %>
				<%= f.input :first_name, label: false, placeholder: current_user.first_name, input_html: {value: current_user.first_name}, required: true %>
				<%= f.input :last_name, label: false, placeholder: current_user.last_name,input_html: { value: current_user.last_name}, required: true %>
				<%= f.input :address_1, label: false, placeholder: "Adresse", required: true %>
				<%= f.input :address_2, label: false, placeholder: "Complément d'adresse", required: true %>
				<%= f.input :zipcode, label: false, placeholder:  "Code Postal", required: true %>
				<%= f.input :city, label: false, placeholder: "Ville", required: true %>
				<br><br>
				<%= f.submit "Valider", class: "btn-secondary btn-block" %>
			<% end %>
		</div>
	</div>
</div>
