<div class="container">
	<div class="row">
		<div class="col-12">
			<%= simple_form_for(@shipping_address, url: clients_shipping_address_path(@shipping_address)) do |f| %>
				<div class="row">
					<div class="col-12 col-md-4">
						<%= f.input :first_name, label: false, placeholder: current_user.first_name, input_html: {value: current_user.first_name}, required: true %>
					</div>
					<div class="col-12 col-md-4">
						<%= f.input :last_name, label: false, placeholder: current_user.last_name,input_html: { value: current_user.last_name}, required: true %>
					</div>
					<div class="col-12 col-md-4">
						<%= f.input :phone, label: false, placeholder: "Numéro de téléphone",required: true, hint: "Important pour la livraison"  %>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-6 col-md-3">
						<%= f.input :street_number, label: false,	placeholder: "N° de rue",	required: true, input_html: { id: "street_number"} %>	
					</div>
					<div class="col-6 col-md-9">
						<%= f.input :route, label: false,	placeholder: "Voie", required: true, input_html: { id: "route"} %>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-3">
							<%= f.input :postal_code, label: false, placeholder: "Code Postal", required: true, input_html: { id: "postal_code"} %>
					</div>
					<div class="col-12 col-md-9">
							<%= f.input :locality, label: false,	placeholder: "Ville", required: true, input_html: { id: "locality"} %>
					</div>
				</div>
				<br><br>
				<%= f.submit "Valider", class: "btn-main btn-block" %>
				<%= link_to 'javascript:history.go(-1);', class: "btn btn-secondary"  do %>
					<i class="fas fa-arrow-left"></i>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
