<div class="container">

		
		<h1 class="primary_title">MES ADRESSES</h1>
		<hr>

		<div class="row">
			<div class="col-12 col-md-4">
				<h2>LIVRAISON
					<% if current_user.shipping_address %>
						<%= link_to edit_clients_shipping_address_path(current_user.shipping_address), id:"edit_shipping" do  %>
							<i class="fa fa-edit"></i>
						<% end %>
					<% else %>
						<%= link_to new_clients_shipping_address_path(current_user), id:"add_shipping" do  %>
							<i class="fa fa-plus-square"></i>
						<% end %>
					<% end %>
				</h2>
					<% if current_user.shipping_address %>
						<p><%= current_user.shipping_address.first_name %> <%= current_user.shipping_address.last_name %></p>
						<p><%= current_user.shipping_address.address_1 %></p>
						<p><%=current_user.shipping_address.address_2  %></p>
						
						<p><%= current_user.shipping_address.zipcode %> <%= current_user.shipping_address.city %></p>
					<% end %>
					<hr>
					<% if @current_cart.items_count > 0 %>				
						<%= link_to "Revenir au panier", clients_checkout_path, class: 'btn btn-main' %>
					<% end %>
			</div>
			<div class="col-12 col-md-4">
				<h2>FACTURATION 
					<% if current_user.billing_address %>
						<%= link_to edit_clients_billing_address_path(current_user.billing_address), id: "edit_billing" do  %>
							<i class="fa fa-edit"></i>
						<% end %>
					<% else %>
						<%= link_to new_clients_billing_address_path(current_user), id: "add_billing"  do  %>
							<i class="fa fa-plus-square"></i>
						<% end %>
					<% end %>
				</h2>

				<% if current_user.billing_address.present? %>
					<p><%= current_user.billing_address.first_name %> <%= current_user.billing_address.last_name %></p>
					<p><%= current_user.billing_address.address_1 %></p>
					<p><%=current_user.billing_address.address_2  %></p>
						
						<p><%= current_user.billing_address.zipcode %> <%= current_user.billing_address.city %></p>
					<hr>
				<% else %>
					<p>Identique à l'adresse de livraison</p>
				<% end %>
			</div>
		</div>
	

</div>