<div class="row">
	<%= render 'shared/side_bar' %>

	<div class="col-10">
		<div class="row">
		<% @categories.each do |cat| %>
			<% cat.products.each do |prod| %>
				<%= link_to product_path(prod) do  %>
					<div class="card">
						<div class="header_card">
							<div class="row">
								<div class="col-12">
									<%= image_tag(prod.attachments.first.url, class: 'product_suggestion') %>
								</div>
							</div>
						</div>
						<div class="footer_card">
							<div class="row">
								<div class="col-6">
									<small><%= prod.title %></small>
								</div>
								<div class="col-6">
									<small><%= prod.price %></small>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
		</div>
	</div>
</div>