<div class="journal-content">
<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Date ajout</th>
				<th>Ref article</th>
				<th>Marque</th>
				<th>Couleur</th>
				<th>Tailles/Quantité</th>
				<th>Stock départ</th>
				<th>Prix achat</th>
				<th>Prix vente</th>
				<th>Prix de revient</th>
				<th>Nombre de vente</th>
				<th>Stock restant</th>
				<th>Valeur stock restant</th>
			</tr>
		</thead>
		<tbody>
	
		<% @sizes.each do |size| %>
				<tr>
					<td><%= size.product.id %></td>
					<td><%= l(size.created_at, format: '%d %B %Y' )  %></td>
					<td><%= size.product.title %></td>
					<td><%= size.product.brand %></td>
					<td><%= size.product.color %></td>
					<td><%= size.size_name %></td>
					<td><%= size.quantity %></td>
					<td><%= size.product.buying_price%></td>
					<td><%= size.product.price %></td>
					<td><%= @dashboard.cost_price(size) %></td>
					<td><%= @dashboard.number_of_sales(size) %></td>
					<td><%= @dashboard.remaining_stock(size) %></td>
					<td class="stock_value"><%= @dashboard.remaining_stock_value(size)%></td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr style="background: red">
				<td>
					Total:
				</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td>X</td>
				<td><%= @dashboard.total_starting_stock %></td>
				<td><%= @dashboard.total_buying_price %></td>
				<td><%= @dashboard.total_selling_price %></td>
				<td><%= @dashboard.total_cost_price %></td>
				<td><%= @dashboard.total_number_of_sales %></td>
				<td><%= @dashboard.total_remaining_stock %></td>
				<td><%= @dashboard.total_remaining_stock_value %></td>
			</tr>
		</tfoot>
	</table>
</div>

