<div class="container">
	<h2>Commandes clients-[<%= @dashboard.orders_counts %>]</h2>
	<hr>
		<div class="graph_boxe">
			<div class="row">
				<div class="col-12 col-md-6">
					<h5>Commandes / mois</h5>
					<br>
					<%= column_chart @dashboard.orders_by_month,{colors: ["black"]} %>
				</div>
			<br><br>
				<div class="col-12 col-md-6">
					<h5>Commandes / semaine</h5>
					<br>
					<%= column_chart @dashboard.orders_by_week ,{colors: ["red"]}%>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-12">
					<h5>Chiffre d'affaire</h5>
					<br>
					<%= line_chart @dashboard.orders_turnover_per_month ,{colors: ["red"]}%>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-12 col-md-6">
					<h5>Etat des commandes</h5>
					<%= pie_chart @dashboard.orders_status, {colors: ["red", "blue", "yellow", "green", "orange", "black"]} %>
				</div>
			</div>
		</div>
</div>
