<div class="container">
	<h2>Commandes sur le site - [<%= @dashboard.orders_counts %>]</h2>
	<hr>
		<div class="graph_boxe">
			<div class="row">
				<div class="col-12 col-md-6">
					<br>
					<%= column_chart [name: "Commandes" , data: @dashboard.orders_by_month ], colors: ["black"], title: "Commandes par mois" %>
				</div>
			<br><br>
				<div class="col-12 col-md-6">
					<br>
					<%= column_chart [name: "Commandes" , data: @dashboard.orders_by_week ], colors: ["red"], title: "Commandes par semaines" %>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-12">
					<br>
					<%= line_chart [name: "Montant " , data: @dashboard.orders_turnover_per_month ] , colors: ["red"], title: "Chiffre d'affaire" %>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-12 col-md-8">
					<%= pie_chart @dashboard.orders_status, colors: ["red", "blue", "yellow", "green", "orange", "black"], 
																									title: "Etat des commandes", 
																									library: {
																									  plotOptions: {
																									    pie: {
																									    	cursor: 'pointer',
																									      dataLabels: {
																									        enabled: false
																									       },
																									       showInLegend: true
																									    }
																									  }}%>
				</div>
			</div>
		</div>
</div>
