<div class="container">
	<h1 class="primary_title">MODIFIER LE FOURNISSEUR <%= @supplier.company.upcase %></h1>
	<hr>
	<br><br>

		<%= simple_form_for(@supplier, url: admin_supplier_path(@supplier)) do |f| %>

		<div class="row">
		  <div class="col-12 col-md-12">
				<%= f.input :company, label: false,input_html: { value: @supplier.company } %>
		  </div>
		</div>
		<br>
		<div class="row">
		  <div class="col-12 col-md-4">
				<%= f.input :address, label: false, input_html: { value: @supplier.address } %>
		  </div>
	    <div class="col-12 col-md-4">
				<%= f.input :zipcode, label: false, input_html: { value: @supplier.zipcode }%>
	    </div>
      <div class="col-12 col-md-4">
  			<%= f.input :city, label: false, input_html: { value: @supplier.city }  %>
      </div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6">
				<%= f.input :phone_number, label: false, input_html: { value: @supplier.phone_number }  %>
			</div>
			<div class="col-12 col-md-6">
				<%= f.input :email, label: false, input_html: { value: @supplier.email } %>
			</div>
		</div>

		<br>
			<%= f.submit "Valider", class: "btn btn-main btn-block" %>		
		<% end %> 

</div>