<div class="container">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Adresse</th>
			<th>Code Postal</th>
			<th>Ville </th>
			<th>Téléphone</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
		
	<tbody>
	<% @suppliers.each do |supplier| %>
		<tr>
			<td><%= supplier.company %></td>
			<td><%= supplier.company %></td>
			<td><%= supplier.company %></td>
			<td><%= supplier.company %></td>
			<td><%= supplier.company %></td>
			<td><%= supplier.company %></td>
			<td><%= link_to "Voir", admin_supplier_path(supplier) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
</div>