<div class="content">
		<h2><%= @supplier.company %></h2>
		<hr>
			<div class="row">

				<div class="col-6">
					<%= @supplier.address %>
					<%= @supplier.zipcode %>
					<%= @supplier.city %>
					<%= @supplier.phone_number %>
					<%= @supplier.email %>
				</div>

		
			</div>
</div>