<% if current_user && current_user.admin? %>
	<%= simple_form_for @product do |f| %>		
		<%= f.input :title, placeholder: "Titre " %>
		<%= f.input :price, placeholder: "Prix " %>
		<%= f.input :description, placeholder: "Description" %>
		<%= f.input :color, placeholder: "Couleur" %>
		<%= f.collection_select :category_id, Category.all, :id, :title %>
		<h3>TAILLES</h3>
		<div id="sizes">
		  <%= f.simple_fields_for :sizes do |size| %>
        <%= render "size_fields", f: size %>
      <% end %>
     	<div class="links">
       	<%= link_to_add_association "Ajouter une taille", f, :sizes, partial: "size_fields", class:"btn btn-primary" %>
     	</div>
    </div>
		<%= f.submit "Valider le produit", class: "btn btn-success" %>
	<% end %>
<% end %>
